<h2>ユーザー新規登録</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :名前 %><br />
    <%= f.text_field :first_name, autofocus: true, autocomplete: "first_name", placeholder: "松井" %>
    <%= f.text_field :last_name, autofocus: true, autocomplete: "last_name", placeholder: "太郎" %>
  </div>

  <div class="field">
    <%= f.label :メールアドレス %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :パスワード %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :パスワード（確認） %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :所属部署 %><br />
    <%= f.select :department, [["営業部", "営業部"], ["貿易部", "貿易部"], ["システム部", "システム部"], ["その他", "その他"]], include_blank: "選択して下さい" %>
　</div>

  <div class="field">
    <%= f.label :ユーザーカテゴリー %><br />
    <%= f.select :user_type, [["一般", "一般"], ["リーダー", "リーダー"]], include_blank: "選択して下さい" %>
　</div>

  <div class="field">
    <%= f.label :入社年月日, class: 'control-label' %><br />
    <%= f.date_field :hire_date, class: 'form-control' %>
  </div>

  <div class="field">
    <%= f.label :上長 %><br />
    <%= f.text_field :approver_id %>
  </div>

  <div class="actions">
    <%= f.submit "登録" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
