<% day = ["日","月","火","水","木","金","土"] %>

<%= render "shared/header_common" %>

<div class="ps-new-wrapper" >

  <h1><i class="far fa-calendar-alt"></i> 日程申請</h1>
  <h2><%= @day.date.strftime("%Y/%m/%d") %>(<%= day[@day.date.wday] %>)</h2>

  <h3>■現在の日程</h3>
  <% if @schedule && @schedule.schedule_type %>
    <h3><%= @schedule.schedule_type %></h3>
  <% elsif @day.timecards.find_by(user_id: current_user.id) && @day.timecards.find_by(user_id: current_user.id).start && @day.timecards.find_by(user_id: current_user.id).finish %>
    <h3>出勤</h3>
  <% elsif @day.day_type.include?("休日") %>
    <h3>休日</h3>
  <% else %>
    <h3>-</h3>
  <% end %>

  <h3>■日程申請</h3>
  <%= form_with model: @pending_schedule, url: day_pending_schedules_path do |form| %>
  <div>
    <%= form.label :schedule_type, "日程：" %>
    <%= form.select :schedule_type, ["有休", "代休", "特別休暇", "欠勤"], include_blank: "-" %>
  </div>
  <div>
    <%= form.label :remark, "備考：" %>
    <%= form.text_field :remark %>
  </div>
  <div>
    <%= form.label :comment_request, "申請メッセージ：" %>
    <%= form.text_field :comment_request %>
  </div>
  <div>
    <%= form.submit "申請" %>
  <div>
  <% end %>

</div>