<% day = ["日","月","火","水","木","金","土"] %>
<% timecard = @day.timecards.find_by(user_id: current_user.id) %>

<%= render "shared/flash" %>
<%= render "shared/header_common" %>

<div class="ps-new-wrapper" >

  <h1><i class="far fa-calendar-alt"></i> 日程申請</h1>
  <h2><%= @day.date.strftime("%Y/%m/%d") %>(<%= day[@day.date.wday] %>)</h2>

  <h3>■現在の日程</h3>
  <% if @schedule %>
    <% if @schedule.schedule_type.present? %>
      <% if PendingSchedule.find_by(schedule_id: @schedule.id, status: "未承認") %>
        <th><%= @schedule.schedule_type %><br>(<%= PendingSchedule.find_by(schedule_id: @schedule.id, status: "未承認").schedule_type %>)</th>
      <% else %>
        <th><%= @schedule.schedule_type %></th>
      <% end %>
    <% elsif timecard && timecard.start && timecard.finish %>
      <% if PendingSchedule.find_by(schedule_id: @schedule.id, status: "未承認") %>
        <th>出勤<br>(<%= PendingSchedule.find_by(schedule_id: @schedule.id, status: "未承認").schedule_type %>)</th>
      <% else %>
        <th>出勤</th>
      <% end %>
    <% else %>
      <% if PendingSchedule.find_by(schedule_id: @schedule.id, status: "未承認") %>
        <th>(<%= PendingSchedule.find_by(schedule_id: @schedule.id, status: "未承認").schedule_type %>)</th>
      <% else %>
        <th>-</th>
      <% end %>
    <% end %>
  <% else %>
    <% if timecard && timecard.start && timecard.finish %>
      <th>出勤</th>
    <% else %>
      <th>-</th>
    <% end %>
  <% end %>

  <h3>■日程申請</h3>
  <%= form_with model: @pending_schedule, url: day_pending_schedules_path do |form| %>
  <div>
    <%= form.label :schedule_type, "日程：" %>
    <%= form.select :schedule_type, ["有休", "有休(AM)", "有休(PM)", "代休", "特別休暇", "欠勤"], include_blank: "-" %>
  </div>
  <div>
    <%= form.label :comment_request, "申請メッセージ：" %>
    <%= form.text_field :comment_request %>
  </div>
  <div>
    <%= form.submit "申請" %>
  <div>
  <% end %>

</div>