<% day = ["日","月","火","水","木","金","土"] %>

<%= render "shared/flash" %>
<%= render "shared/header_common" %>

<div class="timecard-edit-wrapper" >

  <h2><i class="far fa-clock"></i> 打刻編集</h2>

  <h3><%= @day.date.strftime("%Y/%m/%d") %>(<%= day[@day.date.wday] %>)</h3>
  <h3>■現在の打刻</h3>
  <table>
    <thead>
      <th>出勤</th>
      <th>退勤</th>
      <th>休憩開始</th>
      <th>休憩終了</th>
    </thead>
    <tr>
      <% if @timecard %>
        <% if @timecard.start %>
          <% if PendingTimecard.find_by(timecard_id: @timecard.id, timecard_type: "出勤",status: "未承認") %>
            <% if PendingTimecard.find_by(timecard_id: @timecard.id, timecard_type: "出勤",status: "未承認").pending_time.present? %>
              <th><%= @timecard.start.strftime("%R") %><br>(<%= PendingTimecard.find_by(timecard_id: @timecard.id, timecard_type: "出勤",status: "未承認").pending_time.strftime("%R") %>)</th>
            <% else %>
              <th><%= @timecard.start.strftime("%R") %><br>(--:--)</th>
            <% end %>
          <% else %>
            <th><%= @timecard.start.strftime("%R") %></th>
          <% end %>
        <% else %>
          <% if PendingTimecard.find_by(timecard_id: @timecard.id, timecard_type: "出勤",status: "未承認") %>
            <% if PendingTimecard.find_by(timecard_id: @timecard.id, timecard_type: "出勤",status: "未承認").pending_time.present? %>
              <th>(<%= PendingTimecard.find_by(timecard_id: @timecard.id, timecard_type: "出勤",status: "未承認").pending_time.strftime("%R") %>)</th>
            <% else %>
              <th>(--:--)</th>
            <% end %>
          <% else %>
            <th>--:--</th>
          <% end %>
        <% end %>
        <% if @timecard.finish %>
          <% if PendingTimecard.find_by(timecard_id: @timecard.id, timecard_type: "退勤",status: "未承認") %>
            <% if PendingTimecard.find_by(timecard_id: @timecard.id, timecard_type: "退勤",status: "未承認").pending_time.present? %>
              <th><%= @timecard.finish.strftime("%R") %><br>(<%= PendingTimecard.find_by(timecard_id: @timecard.id, timecard_type: "退勤",status: "未承認").pending_time.strftime("%R") %>)</th>
            <% else %>
              <th><%= @timecard.finish.strftime("%R") %><br>(--:--)</th>
            <% end %>
          <% else %>
            <th><%= @timecard.finish.strftime("%R") %></th>
          <% end %>
        <% else %>
          <% if PendingTimecard.find_by(timecard_id: @timecard.id, timecard_type: "退勤",status: "未承認") %>
            <% if PendingTimecard.find_by(timecard_id: @timecard.id, timecard_type: "退勤",status: "未承認").pending_time.present? %>
              <th>(<%= PendingTimecard.find_by(timecard_id: @timecard.id, timecard_type: "退勤",status: "未承認").pending_time.strftime("%R") %>)</th>
            <% else %>
              <th>(--:--)</th>
            <% end %>
          <% else %>
            <th>--:--</th>
          <% end %>
        <% end %>
        <% if @timecard.break_start %>
          <% if PendingTimecard.find_by(timecard_id: @timecard.id, timecard_type: "休憩開始",status: "未承認") %>
            <% if PendingTimecard.find_by(timecard_id: @timecard.id, timecard_type: "休憩開始",status: "未承認").pending_time.present? %>
              <th><%= @timecard.break_start.strftime("%R") %><br>(<%= PendingTimecard.find_by(timecard_id: @timecard.id, timecard_type: "休憩開始",status: "未承認").pending_time.strftime("%R") %>)</th>
            <% else %>
              <th><%= @timecard.break_start.strftime("%R") %><br>(--:--)</th>
            <% end %>
          <% else %>
            <th><%= @timecard.break_start.strftime("%R") %></th>
          <% end %>
        <% else %>
          <% if PendingTimecard.find_by(timecard_id: @timecard.id, timecard_type: "休憩開始",status: "未承認") %>
            <% if PendingTimecard.find_by(timecard_id: @timecard.id, timecard_type: "休憩開始",status: "未承認").pending_time.present? %>
              <th>(<%= PendingTimecard.find_by(timecard_id: @timecard.id, timecard_type: "休憩開始",status: "未承認").pending_time.strftime("%R") %>)</th>
            <% else %>
              <th>(--:--)</th>
            <% end %>
          <% else %>
            <th>--:--</th>
          <% end %>
        <% end %>
        <% if @timecard.break_finish %>
          <% if PendingTimecard.find_by(timecard_id: @timecard.id, timecard_type: "休憩終了",status: "未承認") %>
            <% if PendingTimecard.find_by(timecard_id: @timecard.id, timecard_type: "休憩終了",status: "未承認").pending_time.present? %>
              <th><%= @timecard.break_finish.strftime("%R") %><br>(<%= PendingTimecard.find_by(timecard_id: @timecard.id, timecard_type: "休憩終了",status: "未承認").pending_time.strftime("%R") %>)</th>
            <% else %>
              <th><%= @timecard.break_finish.strftime("%R") %><br>(--:--)</th>
            <% end %>
          <% else %>
            <th><%= @timecard.break_finish.strftime("%R") %></th>
          <% end %>
        <% else %>
          <% if PendingTimecard.find_by(timecard_id: @timecard.id, timecard_type: "休憩終了",status: "未承認") %>
            <% if PendingTimecard.find_by(timecard_id: @timecard.id, timecard_type: "休憩終了",status: "未承認").pending_time.present? %>
              <th>(<%= PendingTimecard.find_by(timecard_id: @timecard.id, timecard_type: "休憩終了",status: "未承認").pending_time.strftime("%R") %>)</th>
            <% else %>
              <th>(--:--)</th>
            <% end %>
          <% else %>
            <th>--:--</th>
          <% end %>
        <% end %>
      <% else %>
        <th>--:--</th><th>--:--</th><th>--:--</th><th>--:--</th>
      <% end %>
    </tr>
  </table>

  <h3>■打刻編集</h3>
  <% if @timecard %>
    <%= form_with model: @timecard, url: "/user/#{params[:user_id]}/day/#{params[:day_id]}/update_timecard", method: :get do |form| %>
      <div>
        <%= form.label :start, "出勤：" %>
        <%= form.time_field :start %>
      </div>
      <div>
        <%= form.label :finish, "退勤：" %>
        <%= form.time_field :finish %>
      </div>
      <div>
        <%= form.label :break_start, "休憩開始：" %>
        <%= form.time_field :break_start %>
      </div>
      <div>
        <%= form.label :break_finish, "休憩終了：" %>
        <%= form.time_field :break_finish %>
      </div>
      <div>
        <%= form.submit "保存" %>
      </div>
    <% end %>
  <% else %>
    <%= form_with model: @timecard_new, url: "/user/#{params[:user_id]}/day/#{params[:day_id]}/update_timecard", method: :get do |form| %>
      <div>
        <%= form.label :start, "出勤：" %>
        <%= form.time_field :start %>
      </div>
      <div>
        <%= form.label :finish, "退勤：" %>
        <%= form.time_field :finish %>
      </div>
      <div>
        <%= form.label :break_start, "休憩開始：" %>
        <%= form.time_field :break_start %>
      </div>
      <div>
        <%= form.label :break_finish, "休憩終了：" %>
        <%= form.time_field :break_finish %>
      </div>
      <div>
        <%= form.submit "保存" %>
      </div>
    <% end %>
  <% end %>

</div>