<h2>個人タイムカード確認</h2>

<h2>日数集計</h2>

<h2>時間集計</h2>
  <span>申請</span>
  <span>日付</span>
  <span>種別</span>
  <span>スケジュール</span>
  <span>出勤</span>
  <span>退勤</span>
  <span>休憩開始</span>
  <span>休憩終了</span>
  <span>所定</span>
  <span>所定外</span>
  <span>残業</span>
  <span>深夜残業</span>
  <span>遅刻</span>
  <span>早退</span>
  <span>休憩</span>
  <span>労働合計</span>
  <span>備考</span>
  <% @days.each do |d| %>
    <% day = ["日","月","火","水","木","金","土"] %>
    <% if d.timecards.find_by(user_id: current_user.id) %>
      <% if d.timecards.find_by(user_id: current_user.id).start && d.timecards.find_by(user_id: current_user.id).finish %>
        <% tortal_work = (d.timecards.find_by(user_id: current_user.id).finish - d.timecards.find_by(user_id: current_user.id).start) %>
      <% end %>
      <% if d.timecards.find_by(user_id: current_user.id).break_start && d.timecards.find_by(user_id: current_user.id).break_finish %>
        <% tortal_break = d.timecards.find_by(user_id: current_user.id).break_finish - d.timecards.find_by(user_id: current_user.id).break_start %>
        <% tortal_work = tortal_work - tortal_break %>
      <% end %>
      <% if d.timecards.find_by(user_id: current_user.id).start >= Time.parse('2000-01-01 09:01 +0900') %>
        <% late = d.timecards.find_by(user_id: current_user.id).start - Time.parse('2000-01-01 09:00 +0900') %>
      <% end %>
      <% if d.timecards.find_by(user_id: current_user.id).start < Time.parse('2000-01-01 09:00 +0900') %>
        <% shoteigai = Time.parse('2000-01-01 09:00 +0900') - d.timecards.find_by(user_id: current_user.id).start %>
      <% end %>
      <% if d.timecards.find_by(user_id: current_user.id).start >= Time.parse('2000-01-01 09:00 +0900') %>
      <% elsif tortal_work.to_i < 28800 %>
        <% shoteigai = Time.parse('2000-01-01 09:00 +0900') - d.timecards.find_by(user_id: current_user.id).start %>
      <% elsif tortal_work.to_i >= 28800 %>
        <% shoteigai = d.timecards.find_by(user_id: current_user.id).start - Time.parse('2000-01-01 09:00 +0900') %>
      <% end %>
      <% if tortal_work > 28800 %>
        <% overtime = tortal_work - 28800 %>
      <% elsif d.timecards.find_by(user_id: current_user.id).finish > Time.parse('2000-01-01 22:00 +0900') %>
        <% overtime_midnight = d.timecards.find_by(user_id: current_user.id).finish - Time.parse('2000-01-01 22:00 +0900') %>
        <% overtime = overtime - overtime_midnight %>
      <% end %>
      <% if shoteigai %>
        <% shotei = tortal_work - shoteigai - overtime %>
      <% end %>
    <% end %>
    <div>
      <span>■</span>
      <span><%= d.date %>(<%= day[d.date.wday] %>)</span>
      <span><%= d.day_type %></span>
      <span>スケジュール</span>
      <% if d.timecards.find_by(user_id: current_user.id) %>
        <% if d.timecards.find_by(user_id: current_user.id).start %>
          <span><%= d.timecards.find_by(user_id: current_user.id).start.strftime("%R") %></span>
        <% else %>
          <span>--:--</span>
        <% end %>
        <% if d.timecards.find_by(user_id: current_user.id).finish %>
          <span><%= d.timecards.find_by(user_id: current_user.id).finish.strftime("%R") %></span>
        <% else %>
          <span>--:--</span>
        <% end %>
        <% if d.timecards.find_by(user_id: current_user.id).break_start %>
          <span><%= d.timecards.find_by(user_id: current_user.id).break_start.strftime("%R") %></span>
        <% else %>
          <span>--:--</span>
        <% end %>
        <% if d.timecards.find_by(user_id: current_user.id).break_finish %>
          <span><%= d.timecards.find_by(user_id: current_user.id).break_finish.strftime("%R") %></span>
        <% else %>
          <span>--:--</span>
        <% end %>
      <% else %>
       <span>--:--</span>
       <span>--:--</span>
       <span>--:--</span>
       <span>--:--</span>
      <% end %>
      <span><%= Time.at(late.to_i).utc.strftime('%-H.%-M') %></span>
      <span><%= Time.at(shoteigai.to_i).utc.strftime('%-H.%-M') %></span>
      <% if overtime.to_i >= 60 %>
        <span><%= Time.at(overtime.to_i).utc.strftime('%-H.%-M') %></span>
      <% else %>
        <span>-</span>
      <% end %>
      <span><%= overtime_midnight.to_i %></span>
      <span><%= Time.at(tortal_work.to_i).utc.strftime('%-H.%-M') %></span>
    </div>
  <% end %>