<% if current_user.user_type == "上長" %>
  <% @users = @users.where(approver_id: current_user.id) %>
<% end %>

<%= render "shared/flash" %>
<%= render "shared/header_common" %>

<div class="timecards-wrapper">

  <h2><i class="fas fa-user-clock"></i> タイムカード一覧・編集</h2>

  <% if current_user.user_type == "上長" %>
    <% @users = @users.where(approver_id: current_user.id) %>
    <% @users.each do |m| %>
      <div class="timecards-user">
        <%= link_to m.full_name, "/user/#{m.id}/year_month/#{Day.find_by(date: Date.today).year_month_id}" %>
        <% days_members = @days.where(date: m.hire_date..) %>
        <% days_members.each do |d| %>
          <%# 平日で休暇日程もない日で、出退勤がそろっていない %>
          <% if d.day_type == "平日" %>
            <% if d.schedules.find_by(user_id: m.id).nil? || d.schedules.find_by(user_id: m.id) && d.schedules.find_by(user_id: m.id).schedule_type.blank? %>
              <% unless d.timecards.find_by(user_id: m.id) && d.timecards.find_by(user_id: m.id).start && d.timecards.find_by(user_id: m.id).finish %>
                <i class="fas fa-exclamation-triangle"></i>
                <% break %>
              <% end %>
            <% end %>
          <% end %>
          <%# 休日に休暇日程をとっている %>
          <% if d.day_type.include?("休日") && d.schedules.find_by(user_id: m.id) && d.schedules.find_by(user_id: m.id).schedule_type.present? %>
            <i class="fas fa-exclamation-triangle"></i>
            <% isBreak = true %>
            <% break %>
          <% end %>
          <%# 休暇日程をとっている日に打刻 %>
          <% if d.schedules.find_by(user_id: m.id) && d.schedules.find_by(user_id: m.id).schedule_type.present? %>
            <% if d.timecards.find_by(user_id: m.id).start.present? %>
              <i class="fas fa-exclamation-triangle"></i>
              <% break %>
            <% end %>
            <% if d.timecards.find_by(user_id: m.id).finish.present? %>
              <i class="fas fa-exclamation-triangle"></i>
              <% break %>
            <% end %>
            <% if d.timecards.find_by(user_id: m.id).break_start.present? %>
              <i class="fas fa-exclamation-triangle"></i>
              <% break %>
            <% end %>
            <% if d.timecards.find_by(user_id: m.id).break_start.present? %>
              <i class="fas fa-exclamation-triangle"></i>
              <% break %>
            <% end %>
          <% end %>
          <%# 出勤 < 休始 < 休終 < 退勤 になっていない %>
          <% if d.timecards.find_by(user_id: m.id) && d.timecards.find_by(user_id: m.id).start.present? && d.timecards.find_by(user_id: m.id).finish.present? %>
            <% unless d.timecards.find_by(user_id: m.id).start < d.timecards.find_by(user_id: m.id).finish %>
              <i class="fas fa-exclamation-triangle"></i>
              <% break %>
            <% end %>
            <% if d.timecards.find_by(user_id: m.id).break_start.present? && d.timecards.find_by(user_id: m.id).break_finish.present? %>
              <% unless d.timecards.find_by(user_id: m.id).start < d.timecards.find_by(user_id: m.id).break_start && d.timecards.find_by(user_id: m.id).break_start < d.timecards.find_by(user_id: m.id).break_finish && d.timecards.find_by(user_id: m.id).break_finish < d.timecards.find_by(user_id: m.id).finish %>
                <i class="fas fa-exclamation-triangle"></i>
                <% break %>
              <% end %>
            <% end %>
          <% end %>
          <%# 出勤があって退勤がない %>
          <% if d.timecards.find_by(user_id: m.id) && d.timecards.find_by(user_id: m.id).start.present? && d.timecards.find_by(user_id: m.id).finish.blank? %>
            <i class="fas fa-exclamation-triangle"></i>
            <% break %>
          <% end %>
          <%# 退勤があって出勤がない %>
          <% if d.timecards.find_by(user_id: m.id) && d.timecards.find_by(user_id: m.id).finish.present? && d.timecards.find_by(user_id: m.id).start.blank? %>
            <i class="fas fa-exclamation-triangle"></i>
            <% break %>
          <% end %>
          <%# 休始があって休終がない %>
          <% if d.timecards.find_by(user_id: m.id) && d.timecards.find_by(user_id: m.id).break_start.present? && d.timecards.find_by(user_id: m.id).break_finish.blank? %>
            <i class="fas fa-exclamation-triangle"></i>
            <% break %>
          <% end %>
          <%# 休終があって休始がない %>
          <% if d.timecards.find_by(user_id: m.id) && d.timecards.find_by(user_id: m.id).break_finish.present? && d.timecards.find_by(user_id: m.id).break_start.blank? %>
            <i class="fas fa-exclamation-triangle"></i>
            <% break %>
          <% end %>
        <% end %>
      </div>
    <% end %>
  <% elsif current_user.user_type == "管理者" %>
    <div class="timecards-department">
      <h3>■営業部</h3>
      <% @users.where(department: "営業部").each do |m| %>
        <div class="timecards-user">
          <%= link_to m.full_name, "/user/#{m.id}/year_month/#{Day.find_by(date: Date.today).year_month_id}" %>
          <% days_members = @days.where(date: m.hire_date..) %>
          <% days_members.each do |d| %>
            <%# 平日で休暇日程もない日で、出退勤がそろっていない %>
            <% if d.day_type == "平日" %>
              <% if d.schedules.find_by(user_id: m.id).nil? || d.schedules.find_by(user_id: m.id) && d.schedules.find_by(user_id: m.id).schedule_type.blank? %>
                <% unless d.timecards.find_by(user_id: m.id) && d.timecards.find_by(user_id: m.id).start && d.timecards.find_by(user_id: m.id).finish %>
                  <i class="fas fa-exclamation-triangle"></i>
                  <% break %>
                <% end %>
              <% end %>
            <% end %>
            <%# 休日に休暇日程をとっている %>
            <% if d.day_type.include?("休日") && d.schedules.find_by(user_id: m.id) && d.schedules.find_by(user_id: m.id).schedule_type.present? %>
              <i class="fas fa-exclamation-triangle"></i>
              <% isBreak = true %>
              <% break %>
            <% end %>
            <%# 休暇日程をとっている日に打刻 %>
            <% if d.schedules.find_by(user_id: m.id) && d.schedules.find_by(user_id: m.id).schedule_type.present? %>
              <% if d.timecards.find_by(user_id: m.id).start.present? %>
                <i class="fas fa-exclamation-triangle"></i>
                <% break %>
              <% end %>
              <% if d.timecards.find_by(user_id: m.id).finish.present? %>
                <i class="fas fa-exclamation-triangle"></i>
                <% break %>
              <% end %>
              <% if d.timecards.find_by(user_id: m.id).break_start.present? %>
                <i class="fas fa-exclamation-triangle"></i>
                <% break %>
              <% end %>
              <% if d.timecards.find_by(user_id: m.id).break_start.present? %>
                <i class="fas fa-exclamation-triangle"></i>
                <% break %>
              <% end %>
            <% end %>
            <%# 出勤 < 休始 < 休終 < 退勤 になっていない %>
            <% if d.timecards.find_by(user_id: m.id) && d.timecards.find_by(user_id: m.id).start.present? && d.timecards.find_by(user_id: m.id).finish.present? %>
              <% unless d.timecards.find_by(user_id: m.id).start < d.timecards.find_by(user_id: m.id).finish %>
                <i class="fas fa-exclamation-triangle"></i>
                <% break %>
              <% end %>
              <% if d.timecards.find_by(user_id: m.id).break_start.present? && d.timecards.find_by(user_id: m.id).break_finish.present? %>
                <% unless d.timecards.find_by(user_id: m.id).start < d.timecards.find_by(user_id: m.id).break_start && d.timecards.find_by(user_id: m.id).break_start < d.timecards.find_by(user_id: m.id).break_finish && d.timecards.find_by(user_id: m.id).break_finish < d.timecards.find_by(user_id: m.id).finish %>
                  <i class="fas fa-exclamation-triangle"></i>
                  <% break %>
                <% end %>
              <% end %>
            <% end %>
            <%# 出勤があって退勤がない %>
            <% if d.timecards.find_by(user_id: m.id) && d.timecards.find_by(user_id: m.id).start.present? && d.timecards.find_by(user_id: m.id).finish.blank? %>
              <i class="fas fa-exclamation-triangle"></i>
              <% break %>
            <% end %>
            <%# 退勤があって出勤がない %>
            <% if d.timecards.find_by(user_id: m.id) && d.timecards.find_by(user_id: m.id).finish.present? && d.timecards.find_by(user_id: m.id).start.blank? %>
              <i class="fas fa-exclamation-triangle"></i>
              <% break %>
            <% end %>
            <%# 休始があって休終がない %>
            <% if d.timecards.find_by(user_id: m.id) && d.timecards.find_by(user_id: m.id).break_start.present? && d.timecards.find_by(user_id: m.id).break_finish.blank? %>
              <i class="fas fa-exclamation-triangle"></i>
              <% break %>
            <% end %>
            <%# 休終があって休始がない %>
            <% if d.timecards.find_by(user_id: m.id) && d.timecards.find_by(user_id: m.id).break_finish.present? && d.timecards.find_by(user_id: m.id).break_start.blank? %>
              <i class="fas fa-exclamation-triangle"></i>
              <% break %>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>

    <div class="timecards-department">
      <h3>■貿易部</h3>
      <% @users.where(department: "貿易部").each do |m| %>
        <div class="timecards-user">
          <%= link_to m.full_name, "/user/#{m.id}/year_month/#{Day.find_by(date: Date.today).year_month_id}" %>
          <% days_members = @days.where(date: m.hire_date..) %>
          <% days_members.each do |d| %>
            <%# 平日で休暇日程もない日で、出退勤がそろっていない %>
            <% if d.day_type == "平日" %>
              <% if d.schedules.find_by(user_id: m.id).nil? || d.schedules.find_by(user_id: m.id) && d.schedules.find_by(user_id: m.id).schedule_type.blank? %>
                <% unless d.timecards.find_by(user_id: m.id) && d.timecards.find_by(user_id: m.id).start && d.timecards.find_by(user_id: m.id).finish %>
                  <i class="fas fa-exclamation-triangle"></i>
                  <% break %>
                <% end %>
              <% end %>
            <% end %>
            <%# 休日に休暇日程をとっている %>
            <% if d.day_type.include?("休日") && d.schedules.find_by(user_id: m.id) && d.schedules.find_by(user_id: m.id).schedule_type.present? %>
              <i class="fas fa-exclamation-triangle"></i>
              <% isBreak = true %>
              <% break %>
            <% end %>
            <%# 休暇日程をとっている日に打刻 %>
            <% if d.schedules.find_by(user_id: m.id) && d.schedules.find_by(user_id: m.id).schedule_type.present? %>
              <% if d.timecards.find_by(user_id: m.id).start.present? %>
                <i class="fas fa-exclamation-triangle"></i>
                <% break %>
              <% end %>
              <% if d.timecards.find_by(user_id: m.id).finish.present? %>
                <i class="fas fa-exclamation-triangle"></i>
                <% break %>
              <% end %>
              <% if d.timecards.find_by(user_id: m.id).break_start.present? %>
                <i class="fas fa-exclamation-triangle"></i>
                <% break %>
              <% end %>
              <% if d.timecards.find_by(user_id: m.id).break_start.present? %>
                <i class="fas fa-exclamation-triangle"></i>
                <% break %>
              <% end %>
            <% end %>
            <%# 出勤 < 休始 < 休終 < 退勤 になっていない %>
            <% if d.timecards.find_by(user_id: m.id) && d.timecards.find_by(user_id: m.id).start.present? && d.timecards.find_by(user_id: m.id).finish.present? %>
              <% unless d.timecards.find_by(user_id: m.id).start < d.timecards.find_by(user_id: m.id).finish %>
                <i class="fas fa-exclamation-triangle"></i>
                <% break %>
              <% end %>
              <% if d.timecards.find_by(user_id: m.id).break_start.present? && d.timecards.find_by(user_id: m.id).break_finish.present? %>
                <% unless d.timecards.find_by(user_id: m.id).start < d.timecards.find_by(user_id: m.id).break_start && d.timecards.find_by(user_id: m.id).break_start < d.timecards.find_by(user_id: m.id).break_finish && d.timecards.find_by(user_id: m.id).break_finish < d.timecards.find_by(user_id: m.id).finish %>
                  <i class="fas fa-exclamation-triangle"></i>
                  <% break %>
                <% end %>
              <% end %>
            <% end %>
            <%# 出勤があって退勤がない %>
            <% if d.timecards.find_by(user_id: m.id) && d.timecards.find_by(user_id: m.id).start.present? && d.timecards.find_by(user_id: m.id).finish.blank? %>
              <i class="fas fa-exclamation-triangle"></i>
              <% break %>
            <% end %>
            <%# 退勤があって出勤がない %>
            <% if d.timecards.find_by(user_id: m.id) && d.timecards.find_by(user_id: m.id).finish.present? && d.timecards.find_by(user_id: m.id).start.blank? %>
              <i class="fas fa-exclamation-triangle"></i>
              <% break %>
            <% end %>
            <%# 休始があって休終がない %>
            <% if d.timecards.find_by(user_id: m.id) && d.timecards.find_by(user_id: m.id).break_start.present? && d.timecards.find_by(user_id: m.id).break_finish.blank? %>
              <i class="fas fa-exclamation-triangle"></i>
              <% break %>
            <% end %>
            <%# 休終があって休始がない %>
            <% if d.timecards.find_by(user_id: m.id) && d.timecards.find_by(user_id: m.id).break_finish.present? && d.timecards.find_by(user_id: m.id).break_start.blank? %>
              <i class="fas fa-exclamation-triangle"></i>
              <% break %>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>

    <div class="timecards-department">
      <h3>■システム部</h3>
      <% @users.where(department: "システム部").each do |m| %>
        <div class="timecards-user">
          <%= link_to m.full_name, "/user/#{m.id}/year_month/#{Day.find_by(date: Date.today).year_month_id}" %>
          <% days_members = @days.where(date: m.hire_date..) %>
          <% days_members.each do |d| %>
            <%# 平日で休暇日程もない日で、出退勤がそろっていない %>
            <% if d.day_type == "平日" %>
              <% if d.schedules.find_by(user_id: m.id).nil? || d.schedules.find_by(user_id: m.id) && d.schedules.find_by(user_id: m.id).schedule_type.blank? %>
                <% unless d.timecards.find_by(user_id: m.id) && d.timecards.find_by(user_id: m.id).start && d.timecards.find_by(user_id: m.id).finish %>
                  <i class="fas fa-exclamation-triangle"></i>
                  <% break %>
                <% end %>
              <% end %>
            <% end %>
            <%# 休日に休暇日程をとっている %>
            <% if d.day_type.include?("休日") && d.schedules.find_by(user_id: m.id) && d.schedules.find_by(user_id: m.id).schedule_type.present? %>
              <i class="fas fa-exclamation-triangle"></i>
              <% isBreak = true %>
              <% break %>
            <% end %>
            <%# 休暇日程をとっている日に打刻 %>
            <% if d.schedules.find_by(user_id: m.id) && d.schedules.find_by(user_id: m.id).schedule_type.present? %>
              <% if d.timecards.find_by(user_id: m.id).start.present? %>
                <i class="fas fa-exclamation-triangle"></i>
                <% break %>
              <% end %>
              <% if d.timecards.find_by(user_id: m.id).finish.present? %>
                <i class="fas fa-exclamation-triangle"></i>
                <% break %>
              <% end %>
              <% if d.timecards.find_by(user_id: m.id).break_start.present? %>
                <i class="fas fa-exclamation-triangle"></i>
                <% break %>
              <% end %>
              <% if d.timecards.find_by(user_id: m.id).break_start.present? %>
                <i class="fas fa-exclamation-triangle"></i>
                <% break %>
              <% end %>
            <% end %>
            <%# 出勤 < 休始 < 休終 < 退勤 になっていない %>
            <% if d.timecards.find_by(user_id: m.id) && d.timecards.find_by(user_id: m.id).start.present? && d.timecards.find_by(user_id: m.id).finish.present? %>
              <% unless d.timecards.find_by(user_id: m.id).start < d.timecards.find_by(user_id: m.id).finish %>
                <i class="fas fa-exclamation-triangle"></i>
                <% break %>
              <% end %>
              <% if d.timecards.find_by(user_id: m.id).break_start.present? && d.timecards.find_by(user_id: m.id).break_finish.present? %>
                <% unless d.timecards.find_by(user_id: m.id).start < d.timecards.find_by(user_id: m.id).break_start && d.timecards.find_by(user_id: m.id).break_start < d.timecards.find_by(user_id: m.id).break_finish && d.timecards.find_by(user_id: m.id).break_finish < d.timecards.find_by(user_id: m.id).finish %>
                  <i class="fas fa-exclamation-triangle"></i>
                  <% break %>
                <% end %>
              <% end %>
            <% end %>
            <%# 出勤があって退勤がない %>
            <% if d.timecards.find_by(user_id: m.id) && d.timecards.find_by(user_id: m.id).start.present? && d.timecards.find_by(user_id: m.id).finish.blank? %>
              <i class="fas fa-exclamation-triangle"></i>
              <% break %>
            <% end %>
            <%# 退勤があって出勤がない %>
            <% if d.timecards.find_by(user_id: m.id) && d.timecards.find_by(user_id: m.id).finish.present? && d.timecards.find_by(user_id: m.id).start.blank? %>
              <i class="fas fa-exclamation-triangle"></i>
              <% break %>
            <% end %>
            <%# 休始があって休終がない %>
            <% if d.timecards.find_by(user_id: m.id) && d.timecards.find_by(user_id: m.id).break_start.present? && d.timecards.find_by(user_id: m.id).break_finish.blank? %>
              <i class="fas fa-exclamation-triangle"></i>
              <% break %>
            <% end %>
            <%# 休終があって休始がない %>
            <% if d.timecards.find_by(user_id: m.id) && d.timecards.find_by(user_id: m.id).break_finish.present? && d.timecards.find_by(user_id: m.id).break_start.blank? %>
              <i class="fas fa-exclamation-triangle"></i>
              <% break %>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>

    <div class="timecards-department">
      <h3>■その他</h3>
      <% @users.where(department: "その他").each do |m| %>
        <div class="timecards-user">
          <%= link_to m.full_name, "/user/#{m.id}/year_month/#{Day.find_by(date: Date.today).year_month_id}" %>
          <% days_members = @days.where(date: m.hire_date..) %>
          <% days_members.each do |d| %>
            <%# 平日で休暇日程もない日で、出退勤がそろっていない %>
            <% if d.day_type == "平日" %>
              <% if d.schedules.find_by(user_id: m.id).nil? || d.schedules.find_by(user_id: m.id) && d.schedules.find_by(user_id: m.id).schedule_type.blank? %>
                <% unless d.timecards.find_by(user_id: m.id) && d.timecards.find_by(user_id: m.id).start && d.timecards.find_by(user_id: m.id).finish %>
                  <i class="fas fa-exclamation-triangle"></i>
                  <% break %>
                <% end %>
              <% end %>
            <% end %>
            <%# 休日に休暇日程をとっている %>
            <% if d.day_type.include?("休日") && d.schedules.find_by(user_id: m.id) && d.schedules.find_by(user_id: m.id).schedule_type.present? %>
              <i class="fas fa-exclamation-triangle"></i>
              <% isBreak = true %>
              <% break %>
            <% end %>
            <%# 休暇日程をとっている日に打刻 %>
            <% if d.schedules.find_by(user_id: m.id) && d.schedules.find_by(user_id: m.id).schedule_type.present? %>
              <% if d.timecards.find_by(user_id: m.id).start.present? %>
                <i class="fas fa-exclamation-triangle"></i>
                <% break %>
              <% end %>
              <% if d.timecards.find_by(user_id: m.id).finish.present? %>
                <i class="fas fa-exclamation-triangle"></i>
                <% break %>
              <% end %>
              <% if d.timecards.find_by(user_id: m.id).break_start.present? %>
                <i class="fas fa-exclamation-triangle"></i>
                <% break %>
              <% end %>
              <% if d.timecards.find_by(user_id: m.id).break_start.present? %>
                <i class="fas fa-exclamation-triangle"></i>
                <% break %>
              <% end %>
            <% end %>
            <%# 出勤 < 休始 < 休終 < 退勤 になっていない %>
            <% if d.timecards.find_by(user_id: m.id) && d.timecards.find_by(user_id: m.id).start.present? && d.timecards.find_by(user_id: m.id).finish.present? %>
              <% unless d.timecards.find_by(user_id: m.id).start < d.timecards.find_by(user_id: m.id).finish %>
                <i class="fas fa-exclamation-triangle"></i>
                <% break %>
              <% end %>
              <% if d.timecards.find_by(user_id: m.id).break_start.present? && d.timecards.find_by(user_id: m.id).break_finish.present? %>
                <% unless d.timecards.find_by(user_id: m.id).start < d.timecards.find_by(user_id: m.id).break_start && d.timecards.find_by(user_id: m.id).break_start < d.timecards.find_by(user_id: m.id).break_finish && d.timecards.find_by(user_id: m.id).break_finish < d.timecards.find_by(user_id: m.id).finish %>
                  <i class="fas fa-exclamation-triangle"></i>
                  <% break %>
                <% end %>
              <% end %>
            <% end %>
            <%# 出勤があって退勤がない %>
            <% if d.timecards.find_by(user_id: m.id) && d.timecards.find_by(user_id: m.id).start.present? && d.timecards.find_by(user_id: m.id).finish.blank? %>
              <i class="fas fa-exclamation-triangle"></i>
              <% break %>
            <% end %>
            <%# 退勤があって出勤がない %>
            <% if d.timecards.find_by(user_id: m.id) && d.timecards.find_by(user_id: m.id).finish.present? && d.timecards.find_by(user_id: m.id).start.blank? %>
              <i class="fas fa-exclamation-triangle"></i>
              <% break %>
            <% end %>
            <%# 休始があって休終がない %>
            <% if d.timecards.find_by(user_id: m.id) && d.timecards.find_by(user_id: m.id).break_start.present? && d.timecards.find_by(user_id: m.id).break_finish.blank? %>
              <i class="fas fa-exclamation-triangle"></i>
              <% break %>
            <% end %>
            <%# 休終があって休始がない %>
            <% if d.timecards.find_by(user_id: m.id) && d.timecards.find_by(user_id: m.id).break_finish.present? && d.timecards.find_by(user_id: m.id).break_start.blank? %>
              <i class="fas fa-exclamation-triangle"></i>
              <% break %>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
