<%= render "shared/header_common" %>

<div id="datetime"></div>

<%= link_to "出勤", create_start_timecards_path, method: :post %>
<%= link_to "休憩開始", create_break_start_timecards_path, method: :post %>
<%= link_to "休憩終了", create_break_finish_timecards_path, method: :post %>
<%= link_to "退勤", create_finish_timecards_path, method: :post %>