<% day = ["日","月","火","水","木","金","土"] %>

<%= render "shared/flash" %>
<%= render "shared/header_common" %>

<div class="pt-new-wrapper">

  <h1><i class="far fa-clock"></i> 打刻申請</h1>

  <h2><%= @day.date.strftime("%Y/%m/%d") %>(<%= day[@day.date.wday] %>)</h2>
  <h3>■現在の打刻</h3>
  <table>
    <thead>
      <th>出勤</th>
      <th>退勤</th>
      <th>休憩開始</th>
      <th>休憩終了</th>
    </thead>
    <tr>
      <% if @timecard %>
        <% if @timecard.start %>
          <% if PendingTimecard.find_by(timecard_id: @timecard.id, timecard_type: "出勤",status: "未承認") %>
            <% if PendingTimecard.find_by(timecard_id: @timecard.id, timecard_type: "出勤",status: "未承認").pending_time.present? %>
              <th><%= @timecard.start.strftime("%R") %><br>(<%= PendingTimecard.find_by(timecard_id: @timecard.id, timecard_type: "出勤",status: "未承認").pending_time.strftime("%R") %>)</th>
            <% else %>
              <th><%= @timecard.start.strftime("%R") %><br>(--:--)</th>
            <% end %>
          <% else %>
            <th><%= @timecard.start.strftime("%R") %></th>
          <% end %>
        <% else %>
          <% if PendingTimecard.find_by(timecard_id: @timecard.id, timecard_type: "出勤",status: "未承認") %>
            <% if PendingTimecard.find_by(timecard_id: @timecard.id, timecard_type: "出勤",status: "未承認").pending_time.present? %>
              <th>(<%= PendingTimecard.find_by(timecard_id: @timecard.id, timecard_type: "出勤",status: "未承認").pending_time.strftime("%R") %>)</th>
            <% else %>
              <th>(--:--)</th>
            <% end %>
          <% else %>
            <th>--:--</th>
          <% end %>
        <% end %>
        <% if @timecard.finish %>
          <% if PendingTimecard.find_by(timecard_id: @timecard.id, timecard_type: "退勤",status: "未承認") %>
            <% if PendingTimecard.find_by(timecard_id: @timecard.id, timecard_type: "退勤",status: "未承認").pending_time.present? %>
              <th><%= @timecard.finish.strftime("%R") %><br>(<%= PendingTimecard.find_by(timecard_id: @timecard.id, timecard_type: "退勤",status: "未承認").pending_time.strftime("%R") %>)</th>
            <% else %>
              <th><%= @timecard.finish.strftime("%R") %><br>(--:--)</th>
            <% end %>
          <% else %>
            <th><%= @timecard.finish.strftime("%R") %></th>
          <% end %>
        <% else %>
          <% if PendingTimecard.find_by(timecard_id: @timecard.id, timecard_type: "退勤",status: "未承認") %>
            <% if PendingTimecard.find_by(timecard_id: @timecard.id, timecard_type: "退勤",status: "未承認").pending_time.present? %>
              <th>(<%= PendingTimecard.find_by(timecard_id: @timecard.id, timecard_type: "退勤",status: "未承認").pending_time.strftime("%R") %>)</th>
            <% else %>
              <th>(--:--)</th>
            <% end %>
          <% else %>
            <th>--:--</th>
          <% end %>
        <% end %>
        <% if @timecard.break_start %>
          <% if PendingTimecard.find_by(timecard_id: @timecard.id, timecard_type: "休憩開始",status: "未承認") %>
            <% if PendingTimecard.find_by(timecard_id: @timecard.id, timecard_type: "休憩開始",status: "未承認").pending_time.present? %>
              <th><%= @timecard.break_start.strftime("%R") %><br>(<%= PendingTimecard.find_by(timecard_id: @timecard.id, timecard_type: "休憩開始",status: "未承認").pending_time.strftime("%R") %>)</th>
            <% else %>
              <th><%= @timecard.break_start.strftime("%R") %><br>(--:--)</th>
            <% end %>
          <% else %>
            <th><%= @timecard.break_start.strftime("%R") %></th>
          <% end %>
        <% else %>
          <% if PendingTimecard.find_by(timecard_id: @timecard.id, timecard_type: "休憩開始",status: "未承認") %>
            <% if PendingTimecard.find_by(timecard_id: @timecard.id, timecard_type: "休憩開始",status: "未承認").pending_time.present? %>
              <th>(<%= PendingTimecard.find_by(timecard_id: @timecard.id, timecard_type: "休憩開始",status: "未承認").pending_time.strftime("%R") %>)</th>
            <% else %>
              <th>(--:--)</th>
            <% end %>
          <% else %>
            <th>--:--</th>
          <% end %>
        <% end %>
        <% if @timecard.break_finish %>
          <% if PendingTimecard.find_by(timecard_id: @timecard.id, timecard_type: "休憩終了",status: "未承認") %>
            <% if PendingTimecard.find_by(timecard_id: @timecard.id, timecard_type: "休憩終了",status: "未承認").pending_time.present? %>
              <th><%= @timecard.break_finish.strftime("%R") %><br>(<%= PendingTimecard.find_by(timecard_id: @timecard.id, timecard_type: "休憩終了",status: "未承認").pending_time.strftime("%R") %>)</th>
            <% else %>
              <th><%= @timecard.break_finish.strftime("%R") %><br>(--:--)</th>
            <% end %>
          <% else %>
            <th><%= @timecard.break_finish.strftime("%R") %></th>
          <% end %>
        <% else %>
          <% if PendingTimecard.find_by(timecard_id: @timecard.id, timecard_type: "休憩終了",status: "未承認") %>
            <% if PendingTimecard.find_by(timecard_id: @timecard.id, timecard_type: "休憩終了",status: "未承認").pending_time.present? %>
              <th>(<%= PendingTimecard.find_by(timecard_id: @timecard.id, timecard_type: "休憩終了",status: "未承認").pending_time.strftime("%R") %>)</th>
            <% else %>
              <th>(--:--)</th>
            <% end %>
          <% else %>
            <th>--:--</th>
          <% end %>
        <% end %>
      <% else %>
        <th>--:--</th><th>--:--</th><th>--:--</th><th>--:--</th>
      <% end %>
    </tr>
  </table>

  <h3>■打刻申請</h3>
  <div class="pt-new-forms">
    <%= form_with model: @pending_timecard, url: day_pending_timecards_path(params[:day_id]) do |form| %>
      <div>
        <%= form.label :timecard_type, "打刻種別：" %>
        <%= form.select :timecard_type, ["出勤", "退勤", "休憩開始", "休憩終了"], include_blank: "選択して下さい" %>
      </div>
      <div>
        <%= form.label :pending_time, "打刻時間：" %>
        <%= form.time_field :pending_time %>
      </div>
      <div>
        <%= form.label :comment_request, "申請メッセージ：" %>
        <%= form.text_field :comment_request%>
      </div>
      <div>
        <%= form.submit "申請" %>
      </div>
    <% end %>
  </div>

</div>