<% day = ["日","月","火","水","木","金","土"] %>

<h1>打刻申請</h1>

<p><%= @day.date.strftime("%Y/%m/%d") %>(<%= day[@day.date.wday] %>)</p>
<h3>■現在の打刻</h3>
<span>出勤</span>
<span>退勤</span>
<span>休憩開始</span>
<span>休憩終了</span>
<br>
<% if @timecard %>
  <% if @timecard.start %>
    <span><%= @timecard.start.strftime("%R") %></span>
  <% else %>
    <span>--:--</span>
  <% end %>
  <% if @timecard.finish %>
    <span><%= @timecard.finish.strftime("%R") %></span>
  <% else %>
    <span>--:--</span>
  <% end %>
  <% if @timecard.break_start %>
    <span><%= @timecard.break_start.strftime("%R") %></span>
  <% else %>
    <span>--:--</span>
  <% end %>
  <% if @timecard.break_finish %>
    <span><%= @timecard.break_finish.strftime("%R") %></span>
  <% else %>
    <span>--:--</span>
  <% end %>
<% else %>
  <span>--:--</span><span>--:--</span><span>--:--</span><span>--:--</span>
<% end %>

<h3>■打刻申請</h3>
<%= form_with model: @pending_timecard, url: day_pending_timecards_path(params[:day_id]) do |form| %>
  <div>
    <span>打刻種別</span>
    <%= form.select :timecard_type, ["出勤", "退勤", "休憩開始", "休憩終了"], include_blank: "選択して下さい" %>
    <%= form.time_field :pending_time %>
  </div>
  <div>
    <p>申請メッセージ</p>
    <%= form.text_area :comment_request%>
  </div>
  <div>
    <%= form.submit "申請" %>
  </div>
<% end %>