<%= render "shared/flash" %>
<%= render "shared/header_common" %>

<div class="wrapper">
  <h2><i class="far fa-calendar"></i> カレンダー一覧</h2>

  <% @year_months.each do |ym| %>
    <div class="year_month-index">
      <span><%= ym.year %>年<%= ym.month %>月</span>
      <%= link_to edit_year_month_path(ym.id) do %>
        <i class="fas fa-pencil-alt"></i>
      <% end %>
      <%= link_to year_month_path(ym.id), method: :delete,data: {confirm: "月度：#{ym.year}年#{ym.month}月 を削除しますか？"} do %>
          <i class="fas fa-trash-alt"></i>
      <% end %>
    </div>
  <% end %>

</div>