<% day = ["日","月","火","水","木","金","土"] %>

<%= render "shared/flash" %>
<%= render "shared/header_common" %>

<div class="timecard-wrapper">

  <h2><i class="far fa-calendar-alt"></i><%= User.find_by(id: params[:user_id]).last_name + " " + User.find_by(id: params[:user_id]).first_name %>さんのタイムカード</h2>
  <%= form_with model: @year_month, url: "/user/#{params[:user_id]}/year_month/#{params[:id]}/to_manage", method: :get do |form| %>
    <div>
      <span class="timecard-current"><%= @year_month.first_date.strftime("%Y/%m/%d") %>(<%= day[@year_month.first_date.wday] %>) 〜 <%= @year_month.last_date.strftime("%Y/%m/%d") %>(<%= day[@year_month.last_date.wday] %>)</span>
      <%= form.select :year, Date.today.year-2 .. Date.today.year+2 %>
      <span>年</span>
      <%= form.select :month, 01 .. 12 %>
      <span>月</span>
      <%= form.submit "表示" %>
    </div>
  <% end %>

  <%# ↓↓↓↓↓集計計算↓↓↓↓↓ %>
  <% shotei_total_weekday = 0 %>
  <% shotei_total_houtei = 0 %>
  <% shotei_total_houteigai = 0 %>
  <% shoteigai_total_weekday = 0 %>
  <% shoteigai_total_houtei = 0 %>
  <% shoteigai_total_houteigai = 0 %>
  <% overtime_total_weekday = 0 %>
  <% overtime_total_houtei = 0 %>
  <% overtime_total_houteigai = 0 %>
  <% overtime_midnight_total_weekday = 0 %>
  <% overtime_midnight_total_houtei = 0 %>
  <% overtime_midnight_total_houteigai = 0 %>
  <% late_total = 0 %>
  <% early_total = 0 %>
  <% total_break_total = 0 %>
  <% total_work_total = 0 %>
  <% weekday_count = 0 %>
  <% holiday_count = 0 %>
  <% @days.each do |d| %>
    <% timecard = d.timecards.find_by(user_id: params[:user_id]) %>
    <% schedule = d.schedules.find_by(user_id: params[:user_id]) %>
    <% shoteigai = 0 %>
    <% if schedule && schedule.schedule_type.blank? || schedule.nil? %>
        <% if timecard && timecard.start && timecard.finish %>
          <% total_work = (timecard.finish - timecard.start) %>
          <% if timecard.break_start && timecard.break_finish %>
            <% total_break = timecard.break_finish - timecard.break_start %>
            <% total_work = total_work - total_break %>
          <% end %>
          <% if timecard.start >= Time.parse('2000-01-01 09:01') %>
            <% late = timecard.start - Time.parse('2000-01-01 09:00') %>
            <% if total_work.to_i < 28800 %>
              <% shoteigai = timecard.finish - Time.parse('2000-01-01 18:00') %>
            <% else %>
              <% shoteigai = late %>
            <% end %>
          <% else %>
            <% shoteigai = Time.parse('2000-01-01 09:00') - timecard.start %>
          <% end %>
          <% if timecard.finish < Time.parse('2000-01-01 18:00') %>
            <% early = Time.parse('2000-01-01 18:00') - timecard.finish %>
          <% end %>
          <% overtime = total_work - 28800 %>
          <% if timecard.finish > Time.parse('2000-01-01 22:00') %>
            <% overtime_midnight = timecard.finish - Time.parse('2000-01-01 22:00') %>
            <% overtime = overtime - overtime_midnight %>
          <% end %>
          <% shotei = total_work %>
          <% if overtime && overtime >= 60 %>
            <% shotei = shotei - overtime %>
          <% end %>
          <% if overtime_midnight && overtime_midnight >= 60 %>
            <% shotei = shotei - overtime_midnight %>
          <% end %>
          <% if shoteigai >= 60 %>
            <% shotei = shotei - shoteigai %>
          <% end %>
          <% if d.day_type == "平日" %>
            <% weekday_count += 1 %>
          <% else %>
            <% holiday_count += 1 %>
          <% end %>
        <% end %>
      <% elsif schedule && schedule.schedule_type == "有休(PM)" %>
        <% if timecard && timecard.start && timecard.finish %>
          <% total_work = (timecard.finish - timecard.start) %>
          <% if timecard.break_start && timecard.break_finish %>
            <% total_break = timecard.break_finish - timecard.break_start %>
            <% total_work = total_work - total_break %>
          <% end %>
          <% if timecard.start >= Time.parse('2000-01-01 09:01') %>
            <% late = timecard.start - Time.parse('2000-01-01 09:00') %>
          <% else %>
            <% shoteigai = Time.parse('2000-01-01 09:00') - timecard.start %>
          <% end %>
          <% if timecard.finish < Time.parse('2000-01-01 12:00') %>
            <% early = Time.parse('2000-01-01 12:00') - timecard.finish %>
          <% end %>
          <% overtime = total_work - 28800 %>
          <% if timecard.finish > Time.parse('2000-01-01 12:00') %>
            <% shoteigai += timecard.finish - Time.parse('2000-01-01 12:00') %>
          <% end %>
          <% shotei = total_work %>
          <% if overtime && overtime >= 60 %>
            <% shotei = shotei - overtime %>
          <% end %>
          <% if overtime_midnight && overtime_midnight >= 60 %>
            <% shotei = shotei - overtime_midnight %>
          <% end %>
          <% if shoteigai >= 60 %>
            <% shotei = shotei - shoteigai %>
          <% end %>
          <% if d.day_type == "平日" %>
            <% weekday_count += 1 %>
          <% else %>
            <% holiday_count += 1 %>
          <% end %>
        <% end %>
      <% elsif schedule && schedule.schedule_type == "有休(AM)" %>
        <% if timecard && timecard.start && timecard.finish %>
          <% total_work = (timecard.finish - timecard.start) %>
          <% if timecard.break_start && timecard.break_finish %>
            <% total_break = timecard.break_finish - timecard.break_start %>
            <% total_work = total_work - total_break %>
          <% end %>
          <% if timecard.start >= Time.parse('2000-01-01 13:01') %>
            <% late = timecard.start - Time.parse('2000-01-01 13:00') %>
          <% else %>
            <% shoteigai = Time.parse('2000-01-01 13:00') - timecard.start %>
          <% end %>
          <% if timecard.finish < Time.parse('2000-01-01 18:00') %>
            <% early = Time.parse('2000-01-01 18:00') - timecard.finish %>
          <% end %>
          <% overtime = total_work - 28800 %>
          <% if timecard.finish > Time.parse('2000-01-01 18:00') %>
            <% shoteigai += timecard.finish - Time.parse('2000-01-01 18:00') %>
          <% end %>
          <% shotei = total_work %>
          <% if overtime && overtime >= 60 %>
            <% shotei = shotei - overtime %>
          <% end %>
          <% if overtime_midnight && overtime_midnight >= 60 %>
            <% shotei = shotei - overtime_midnight %>
          <% end %>
          <% if shoteigai >= 60 %>
            <% shotei = shotei - shoteigai %>
          <% end %>
          <% if d.day_type == "平日" %>
            <% weekday_count += 1 %>
          <% else %>
            <% holiday_count += 1 %>
          <% end %>
        <% end %>
      <% end %>
    <% if shotei && shotei >= 60 %>
      <% if d.day_type == "平日" %>
        <% shotei_total_weekday += shotei %>
      <% elsif d.day_type == "法定休日" %>
        <% shotei_total_houtei += shotei %>
      <% elsif d.day_type == "法定外休日" %>
        <% shotei_total_houteigai += shotei %>
      <% end %>
    <% end %>
    <% if shoteigai && shoteigai >= 60 %>
      <% if d.day_type == "平日" %>
        <% shoteigai_total_weekday += shoteigai %>
      <% elsif d.day_type == "法定休日" %>
        <% shoteigai_total_houtei += shoteigai %>
      <% elsif d.day_type == "法定外休日" %>
        <% shoteigai_total_houteigai += shoteigai %>
      <% end %>
    <% end %>
    <% if overtime && overtime >= 60 %>
      <% if d.day_type == "平日" %>
        <% overtime_total_weekday += overtime %>
      <% elsif d.day_type == "法定休日" %>
        <% overtime_total_houtei += overtime %>
      <% elsif d.day_type == "法定外休日" %>
        <% overtime_total_houteigai += overtime %>
      <% end %>
    <% end %>
    <% if overtime_midnight && overtime_midnight >= 60 %>
      <% if d.day_type == "平日" %>
        <% overtime_midnight_total_weekday += overtime_midnight %>
      <% elsif d.day_type == "法定休日" %>
        <% overtime_midnight_total_houtei += overtime_midnight %>
      <% elsif d.day_type == "法定外休日" %>
        <% overtime_midnight_total_houteigai += overtime_midnight %>
      <% end %>
    <% end %>
    <% if late && late >= 60 %>
      <% late_total += late %>
    <% end %>
    <% if early %>
      <% if late == nil || late >= 60 %>
        <% early_total += early %>
      <% end %>
    <% end %>
    <% if total_break && total_break >= 60 %>
      <% total_break_total += total_break %>
    <% end %>
    <% if total_work && total_work >= 60 %>
      <% total_work_total += total_work %>
    <% end %>
  <% end %>

  <h3>■月別データ</h3>
  <span>時間集計</span>
  <table class="time-total">
    <thead>
      <th></th>
      <th>所定時間</th>
      <th>所定外</th>
      <th>残業</th>
      <th>深夜残業</th>
      <th>遅刻</th>
      <th>早退</th>
      <th>休憩</th>
      <th>労働合計</th>
    </thead>
    <tr>
      <th>平日</th>
      <th><%= (shotei_total_weekday / 3600).floor %>.<%= sprintf("%02d", (shotei_total_weekday.modulo(3600) / 60).floor) %></th>
      <th><%= (shoteigai_total_weekday / 3600).floor %>.<%= sprintf("%02d", (shoteigai_total_weekday.modulo(3600) / 60).floor) %></th>
      <th><%= (overtime_total_weekday / 3600).floor %>.<%= sprintf("%02d", (overtime_total_weekday.modulo(3600) / 60).floor) %></th>
      <th><%= (overtime_midnight_total_weekday / 3600).floor %>.<%= sprintf("%02d", (overtime_midnight_total_weekday.modulo(3600) / 60).floor) %></th>
      <th rowspan="3"><%= (late_total / 3600).floor %>.<%= sprintf("%02d", (late_total.modulo(3600) / 60).floor) %></th>
      <th rowspan="3"><%= (early_total / 3600).floor %>.<%= sprintf("%02d", (early_total.modulo(3600) / 60).floor) %></th>
      <th rowspan="3"><%= (total_break_total / 3600).floor %>.<%= sprintf("%02d", (total_break_total.modulo(3600) / 60).floor) %></th>
      <th rowspan="3"><%= (total_work_total / 3600).floor %>.<%= sprintf("%02d", (total_work_total.modulo(3600) / 60).floor) %></th>
    </tr>
    <tr>
      <th>法定休日</th>
      <th><%= (shotei_total_houtei / 3600).floor %>.<%= sprintf("%02d", (shotei_total_houtei.modulo(3600) / 60).floor) %></th>
      <th><%= (shoteigai_total_houtei / 3600).floor %>.<%= sprintf("%02d", (shoteigai_total_houtei.modulo(3600) / 60).floor) %></th>
      <th><%= (overtime_total_houtei / 3600).floor %>.<%= sprintf("%02d", (overtime_total_houtei.modulo(3600) / 60).floor) %></th>
      <th><%= (overtime_midnight_total_houtei / 3600).floor %>.<%= sprintf("%02d", (overtime_midnight_total_houtei.modulo(3600) / 60).floor) %></th>
    </tr>
    <tr>
      <th>法定外休日</th>
      <th><%= (shotei_total_houteigai / 3600).floor %>.<%= sprintf("%02d", (shotei_total_houteigai.modulo(3600) / 60).floor) %></th>
      <th><%= (shoteigai_total_houteigai / 3600).floor %>.<%= sprintf("%02d", (shoteigai_total_houteigai.modulo(3600) / 60).floor) %></th>
      <th><%= (overtime_total_houteigai / 3600).floor %>.<%= sprintf("%02d", (overtime_total_houteigai.modulo(3600) / 60).floor) %></th>
      <th><%= (overtime_midnight_total_houteigai / 3600).floor %>.<%= sprintf("%02d", (overtime_midnight_total_houteigai.modulo(3600) / 60).floor) %></th>
    </tr>
  </table>

  <span>日数集計</span>
  <table>
    <thead>
      <th>平日出勤</th>
      <th>休日出勤</th>
      <th>遅刻</th>
      <th>早退</th>
      <th>有休</th>
      <th>代休</th>
      <th>特別休暇</th>
      <th>欠勤</th>
    </thead>
    <tr>
      <th><%= weekday_count.to_f %></th>
      <th><%= holiday_count.to_f %></th>
      <th><%= @timecards.where(start: Time.parse('2000-01-01 09:01')..).count.to_f %></th>
      <th><%= @timecards.where(finish: ...Time.parse('2000-01-01 18:00')).count.to_f %></th>
      <th><%= @schedules.where(schedule_type: "有休").count.to_f + (@schedules.where(schedule_type: "有休(AM)").count.to_f / 2).to_f + (@schedules.where(schedule_type: "有休(PM)").count.to_f / 2).to_f %></th>
      <th><%= @schedules.where(schedule_type: "代休").count.to_f %></th>
      <th><%= @schedules.where(schedule_type: "特別休暇").count.to_f %></th>
      <th><%= @schedules.where(schedule_type: "欠勤").count.to_f %></th>
    </tr>
  </table>

  <h3>■日別データ</h3>

  <table class="day-data">
    <thead>
        <th>打刻編集</th>
        <th>日程編集</th>
      <th>日付</th>
      <th>種別</th>
      <th>日程</th>
      <th>出勤</th>
      <th>退勤</th>
      <th>休憩開始</th>
      <th>休憩終了</th>
      <th>所定</th>
      <th>所定外</th>
      <th>残業</th>
      <th>深夜残業</th>
      <th>遅刻</th>
      <th>早退</th>
      <th>休憩</th>
      <th>労働合計</th>
    </thead>
    <% @days.each do |d| %>
      <% timecard = d.timecards.find_by(user_id: params[:user_id]) %>
      <% schedule = d.schedules.find_by(user_id: params[:user_id]) %>
      <% shoteigai = 0 %>
      <% if schedule && schedule.schedule_type.blank? || schedule.nil? %>
        <% if timecard && timecard.start && timecard.finish %>
          <% total_work = (timecard.finish - timecard.start) %>
          <% if timecard.break_start && timecard.break_finish %>
            <% total_break = timecard.break_finish - timecard.break_start %>
            <% total_work = total_work - total_break %>
          <% end %>
          <% if timecard.start >= Time.parse('2000-01-01 09:01') %>
            <% late = timecard.start - Time.parse('2000-01-01 09:00') %>
            <% if total_work.to_i < 28800 %>
              <% shoteigai = timecard.finish - Time.parse('2000-01-01 18:00') %>
            <% else %>
              <% shoteigai = late %>
            <% end %>
          <% else %>
            <% shoteigai = Time.parse('2000-01-01 09:00') - timecard.start %>
          <% end %>
          <% if timecard.finish < Time.parse('2000-01-01 18:00') %>
            <% early = Time.parse('2000-01-01 18:00') - timecard.finish %>
          <% end %>
          <% overtime = total_work - 28800 %>
          <% if timecard.finish > Time.parse('2000-01-01 22:00') %>
            <% overtime_midnight = timecard.finish - Time.parse('2000-01-01 22:00') %>
            <% overtime = overtime - overtime_midnight %>
          <% end %>
          <% shotei = total_work %>
          <% if overtime && overtime >= 60 %>
            <% shotei = shotei - overtime %>
          <% end %>
          <% if overtime_midnight && overtime_midnight >= 60 %>
            <% shotei = shotei - overtime_midnight %>
          <% end %>
          <% if shoteigai >= 60 %>
            <% shotei = shotei - shoteigai %>
          <% end %>
        <% end %>
      <% elsif schedule && schedule.schedule_type == "有休(PM)" %>
        <% if timecard && timecard.start && timecard.finish %>
          <% total_work = (timecard.finish - timecard.start) %>
          <% if timecard.break_start && timecard.break_finish %>
            <% total_break = timecard.break_finish - timecard.break_start %>
            <% total_work = total_work - total_break %>
          <% end %>
          <% if timecard.start >= Time.parse('2000-01-01 09:01') %>
            <% late = timecard.start - Time.parse('2000-01-01 09:00') %>
          <% else %>
            <% shoteigai = Time.parse('2000-01-01 09:00') - timecard.start %>
          <% end %>
          <% if timecard.finish < Time.parse('2000-01-01 12:00') %>
            <% early = Time.parse('2000-01-01 12:00') - timecard.finish %>
          <% end %>
          <% overtime = total_work - 28800 %>
          <% if timecard.finish > Time.parse('2000-01-01 12:00') %>
            <% shoteigai += timecard.finish - Time.parse('2000-01-01 12:00') %>
          <% end %>
          <% shotei = total_work %>
          <% if overtime && overtime >= 60 %>
            <% shotei = shotei - overtime %>
          <% end %>
          <% if overtime_midnight && overtime_midnight >= 60 %>
            <% shotei = shotei - overtime_midnight %>
          <% end %>
          <% if shoteigai >= 60 %>
            <% shotei = shotei - shoteigai %>
          <% end %>
        <% end %>
      <% elsif schedule && schedule.schedule_type == "有休(AM)" %>
        <% if timecard && timecard.start && timecard.finish %>
          <% total_work = (timecard.finish - timecard.start) %>
          <% if timecard.break_start && timecard.break_finish %>
            <% total_break = timecard.break_finish - timecard.break_start %>
            <% total_work = total_work - total_break %>
          <% end %>
          <% if timecard.start >= Time.parse('2000-01-01 13:01') %>
            <% late = timecard.start - Time.parse('2000-01-01 13:00') %>
          <% else %>
            <% shoteigai = Time.parse('2000-01-01 13:00') - timecard.start %>
          <% end %>
          <% if timecard.finish < Time.parse('2000-01-01 18:00') %>
            <% early = Time.parse('2000-01-01 18:00') - timecard.finish %>
          <% end %>
          <% overtime = total_work - 28800 %>
          <% if timecard.finish > Time.parse('2000-01-01 18:00') %>
            <% shoteigai += timecard.finish - Time.parse('2000-01-01 18:00') %>
          <% end %>
          <% shotei = total_work %>
          <% if overtime && overtime >= 60 %>
            <% shotei = shotei - overtime %>
          <% end %>
          <% if overtime_midnight && overtime_midnight >= 60 %>
            <% shotei = shotei - overtime_midnight %>
          <% end %>
          <% if shoteigai >= 60 %>
            <% shotei = shotei - shoteigai %>
          <% end %>
        <% end %>
      <% end %>

      <% error = false %>
      <% if User.find(params[:user_id]).hire_date <= d.date && d.date < Date.today() %>
        <%# 平日で休暇日程もない日で、出退勤がそろっていない %>
        <% if d.day_type == "平日" %>
          <% if schedule.nil? || schedule && schedule.schedule_type.blank? || schedule && schedule.schedule_type == "有休(AM)" || schedule && schedule.schedule_type == "有休(PM)" %>
            <% unless timecard && timecard.start && timecard.finish %>
              <% error = true %>
            <% end %>
          <% end %>
        <% end %>
        <%# 休日に休暇日程をとっている %>
        <% if d.day_type.include?("休日") && schedule && schedule.schedule_type.present? %>
          <% error = true %>
        <% end %>
        <%# 半休以外の休暇取得日に打刻 %>
        <% if schedule && schedule.schedule_type.present? && schedule.schedule_type != "有休(AM)" && schedule.schedule_type != "有休(PM)" %>
          <% if timecard && timecard.start.present? %>
            <% error = true %>
          <% end %>
          <% if timecard && timecard.finish.present? %>
            <% error = true %>
          <% end %>
          <% if timecard && timecard.break_start.present? %>
            <% error = true %>
          <% end %>
          <% if timecard && timecard.break_finish.present? %>
            <% error = true %>
          <% end %>
        <% end %>
        <%# 出勤 < 休始 < 休終 < 退勤 になっていない %>
        <% if timecard && timecard.start.present? && timecard.finish.present? %>
          <% unless timecard.start < timecard.finish %>
            <% error = true %>
          <% end %>
          <% if timecard.break_start.present? && timecard.break_finish.present? %>
            <% unless timecard.start < timecard.break_start && timecard.break_start < timecard.break_finish && timecard.break_finish < timecard.finish %>
              <% error = true %>
            <% end %>
          <% end %>
        <% end %>
        <%# 出勤があって退勤がない %>
        <% if timecard && timecard.start.present? && timecard.finish.blank? %>
          <% error = true %>
        <% end %>
        <%# 退勤があって出勤がない %>
        <% if timecard && timecard.finish.present? && timecard.start.blank? %>
          <% error = true %>
        <% end %>
        <%# 休始があって休終がない %>
        <% if timecard && timecard.break_start.present? && timecard.break_finish.blank? %>
          <% error = true %>
        <% end %>
        <%# 休終があって休始がない %>
        <% if timecard && timecard.break_finish.present? && timecard.break_start.blank? %>
          <% error = true %>
        <% end %>
        
      <% elsif User.find(params[:user_id]).hire_date > d.date %>
        <% if timecard %>
          <% if timecard.start.present? || timecard.finish.present? || timecard.break_start.present? || timecard.break_finish.present? %>
            <% error = true %>
          <% end %>
        <% end %>
        <% if schedule && schedule.schedule_type.present? %>
          <% error = true %>
        <% end %>
      <% end %>
      <% if error %>
        <tr class="error">
      <% else %>
        <tr class="hover">
      <% end %>

        <th class="hover">
          <%= link_to "/user/#{params[:user_id]}/day/#{d.id}/edit_timecard" do %>
            <i class="far fa-clock"></i>
          <% end %>
        </th>
        <th class="hover">
          <%= link_to "/user/#{params[:user_id]}/day/#{d.id}/edit_schedule" do %>
            <i class="far fa-calendar-alt"></i>
          <% end %>
        </th>
        <th><%= d.date.strftime("%m/%d") %>(<%= day[d.date.wday] %>)</th>
        <th><%= d.day_type %></th>
        <% if schedule && schedule.schedule_type.present? %>
          <th><%= schedule.schedule_type %></th>
        <% elsif timecard && timecard.start && timecard.finish %>
          <th>出勤</th>
        <% elsif d.day_type.include?("休日") %>
          <th>休日</th>
        <% else %>
          <th>-</th>
        <% end %>
        <% if timecard %>
          <% if timecard.start %>
            <th><%= timecard.start.strftime("%R") %></th>
          <% else %>
            <th>--:--</th>
          <% end %>
          <% if timecard.finish %>
            <th><%= timecard.finish.strftime("%R") %></th>
          <% else %>
            <th>--:--</th>
          <% end %>
          <% if timecard.break_start %>
            <th><%= timecard.break_start.strftime("%R") %></th>
          <% else %>
            <th>--:--</th>
          <% end %>
          <% if timecard.break_finish %>
            <th><%= timecard.break_finish.strftime("%R") %></th>
          <% else %>
            <th>--:--</th>
          <% end %>
        <% else %>
          <th>--:--</th>
          <th>--:--</th>
          <th>--:--</th>
          <th>--:--</th>
        <% end %>
        <% if shotei && shotei >= 60 %>
          <th><%= Time.at(shotei.to_i).utc.strftime('%-H.%M') %></th>
        <% else %>
          <th>-</th>
        <% end %>
        <% if shoteigai && shoteigai >= 60 %>
          <th><%= Time.at(shoteigai.to_i).utc.strftime('%-H.%M') %></th>
        <% else %>
          <th>-</th>
        <% end %>
        <% if overtime && overtime >= 60 %>
          <th><%= Time.at(overtime.to_i).utc.strftime('%-H.%M') %></th>
        <% else %>
          <th>-</th>
        <% end %>
        <% if overtime_midnight && overtime_midnight >= 60 %>
          <th><%= Time.at(overtime_midnight.to_i).utc.strftime('%-H.%M') %></th>
        <% else %>
          <th>-</th>
        <% end %>
        <% if late && late >= 60 %>
          <th><%= Time.at(late.to_i).utc.strftime('%-H.%M') %></th>
        <% else %>
          <th>-</th>
        <% end %>
        <% if early && early >= 60 %>
          <th><%= Time.at(early.to_i).utc.strftime('%-H.%M') %></th>
        <% else %>
          <th>-</th>
        <% end %>
        <% if total_break && total_break >= 60 %>
          <th><%= Time.at(total_break.to_i).utc.strftime('%-H.%M') %></th>
        <% else %>
          <th>-</th>
        <% end %>
        <% if total_work && total_work >= 60 %>
          <th><%= Time.at(total_work.to_i).utc.strftime('%-H.%M') %></th>
        <% else %>
          <th>-</th>
        <% end %>
      </tr>
    <% end %>
  </table>
</div>