<%= render "shared/flash" %>
<%= render "shared/header_common" %>

<div class="wrapper">

  <h2><i class="far fa-calendar-plus"></i> カレンダー作成</h2>

  <%= form_with model: @year_month do |form| %>
    <div class="year_month-new-form">
      <span>年月度 : </span>
      <%= form.select :year, Date.today.year-2 .. Date.today.year+2, include_blank: '----' %>
      <span>年</span>
      <%= form.select :month, 01 .. 12, include_blank: '----' %>
      <span>月</span>
    </div>
    <div class="year_month-new-form">
      <%= form.label :first_date, "開始日 : " %>
      <%= form.date_field :first_date, id: "first_date" %>
    </div>
    <div class="year_month-new-form">
      <%= form.label :last_date, "終了日 : " %>
      <%= form.date_field :last_date, id: "last_date" %>
      <button type="button" id="add_item_button">カレンダー表示</button>
    </div>
    <div id="year_month_days_box"></div>
    <br>
    <%= form.submit "作成する" %>
  <% end %>

</div>