<h2>カレンダー作成</h2>

<%= form_with model: @year_month do |form| %>
  <div>
    <%= form.label :year, "年度" %>
    <%= form.select :year, Date.today.year-2 .. Date.today.year+2, include_blank: '----' %>
  </div>
  <div>
    <%= form.label :month %>
    <%= form.select :month, 01 .. 12, include_blank: '----' %>
  </div>
  <div>
    <%= form.label :first_date %>
    <%= form.date_field :first_date %>
  </div>
  <div>
    <%= form.label :last_date %>
    <%= form.date_field :last_date %>
  </div>
  <%= form.submit "作成する" %>
<% end %>