<% day = ["日","月","火","水","木","金","土"] %>

<h3><%= User.find_by(id: current_user.id).last_name + " " + User.find_by(id: current_user.id).first_name %>さんのタイムカード</h3>
<%= form_with model: @year_month, url: to_show_year_month_path(params[:id]), method: :get do |form| %>
  <div>
    <span><%= @year_month.first_date.strftime("%Y/%m/%d") %>(<%= day[@year_month.first_date.wday] %>) 〜 <%= @year_month.last_date.strftime("%Y/%m/%d") %>(<%= day[@year_month.last_date.wday] %>)</span>
    <%= form.select :year, Date.today.year-2 .. Date.today.year+2 %>
    <span>年</span>
    <%= form.select :month, 01 .. 12 %>
    <span>月</span>
    <%= form.submit "表示" %>
  </div>
<% end %>

<h3>時間集計</h3>
<span>所定時間</span>
<span>所定外</span>
<span>残業</span>
<span>深夜残業</span>
<span>遅刻</span>
<span>早退</span>
<span>休憩</span>
<span>労働合計</span>
<br>
<% shotei_total_weekday = 0 %>
<% shotei_total_houtei = 0 %>
<% shotei_total_houteigai = 0 %>
<% shoteigai_total_weekday = 0 %>
<% shoteigai_total_houtei = 0 %>
<% shoteigai_total_houteigai = 0 %>
<% overtime_total_weekday = 0 %>
<% overtime_total_houtei = 0 %>
<% overtime_total_houteigai = 0 %>
<% overtime_midnight_total_weekday = 0 %>
<% overtime_midnight_total_houtei = 0 %>
<% overtime_midnight_total_houteigai = 0 %>
<% late_total = 0 %>
<% early_total = 0 %>
<% total_break_total = 0 %>
<% total_work_total = 0 %>
<% weekday_count = 0 %>
<% holiday_count = 0 %>
<% @days.each do |d| %>
  <% shoteigai = 0 %>
  <% if d.timecards.find_by(user_id: current_user.id) && d.timecards.find_by(user_id: current_user.id).start && d.timecards.find_by(user_id: current_user.id).finish %>
    <% total_work = (d.timecards.find_by(user_id: current_user.id).finish - d.timecards.find_by(user_id: current_user.id).start) %>
    <% if d.timecards.find_by(user_id: current_user.id).break_start && d.timecards.find_by(user_id: current_user.id).break_finish %>
      <% total_break = d.timecards.find_by(user_id: current_user.id).break_finish - d.timecards.find_by(user_id: current_user.id).break_start %>
      <% total_work = total_work - total_break %>
    <% end %>
    <% if d.timecards.find_by(user_id: current_user.id).start >= Time.parse('2000-01-01 09:01') %>
      <% late = d.timecards.find_by(user_id: current_user.id).start - Time.parse('2000-01-01 09:00') %>
      <% if total_work.to_i < 28800 %>
        <% shoteigai = d.timecards.find_by(user_id: current_user.id).finish - Time.parse('2000-01-01 18:00') %>
      <% else %>
        <% shoteigai = late %>
      <% end %>
    <% else %>
      <% shoteigai = Time.parse('2000-01-01 09:00') - d.timecards.find_by(user_id: current_user.id).start %>
    <% end %>
    <% if d.timecards.find_by(user_id: current_user.id).finish < Time.parse('2000-01-01 18:00') %>
      <% early = Time.parse('2000-01-01 18:00') - d.timecards.find_by(user_id: current_user.id).finish %>
    <% end %>
    <% overtime = total_work - 28800 %>
    <% if d.timecards.find_by(user_id: current_user.id).finish > Time.parse('2000-01-01 22:00') %>
      <% overtime_midnight = d.timecards.find_by(user_id: current_user.id).finish - Time.parse('2000-01-01 22:00') %>
      <% overtime = overtime - overtime_midnight %>
    <% end %>
    <% shotei = total_work %>
    <% if overtime && overtime >= 60 %>
      <% shotei = shotei - overtime %>
    <% end %>
    <% if overtime_midnight && overtime_midnight >= 60 %>
      <% shotei = shotei - overtime_midnight %>
    <% end %>
    <% if shoteigai >= 60 %>
      <% shotei = shotei - shoteigai %>
    <% end %>
    <% if d.day_type == "平日" %>
      <% weekday_count += 1 %>
    <% else %>
      <% holiday_count += 1 %>
    <% end %>
  <% end %>
  <% if shotei && shotei >= 60 %>
    <% if d.day_type == "平日" %>
      <% shotei_total_weekday += shotei %>
    <% elsif d.day_type == "法定休日" %>
      <% shotei_total_houtei += shotei %>
    <% elsif d.day_type == "法定外休日" %>
      <% shotei_total_houteigai += shotei %>
    <% end %>
  <% end %>
  <% if shoteigai && shoteigai >= 60 %>
    <% if d.day_type == "平日" %>
      <% shoteigai_total_weekday += shoteigai %>
    <% elsif d.day_type == "法定休日" %>
      <% shoteigai_total_houtei += shoteigai %>
    <% elsif d.day_type == "法定外休日" %>
      <% shoteigai_total_houteigai += shoteigai %>
    <% end %>
  <% end %>
  <% if overtime && overtime >= 60 %>
    <% if d.day_type == "平日" %>
      <% overtime_total_weekday += overtime %>
    <% elsif d.day_type == "法定休日" %>
      <% overtime_total_houtei += overtime %>
    <% elsif d.day_type == "法定外休日" %>
      <% overtime_total_houteigai += overtime %>
    <% end %>
  <% end %>
  <% if overtime_midnight && overtime_midnight >= 60 %>
    <% if d.day_type == "平日" %>
      <% overtime_midnight_total_weekday += overtime_midnight %>
    <% elsif d.day_type == "法定休日" %>
      <% overtime_midnight_total_houtei += overtime_midnight %>
    <% elsif d.day_type == "法定外休日" %>
      <% overtime_midnight_total_houteigai += overtime_midnight %>
    <% end %>
  <% end %>
  <% if late && late >= 60 %>
    <% late_total += late %>
  <% end %>
  <% if early && late >= 60 %>
    <% early_total += early %>
  <% end %>
  <% if total_break && total_break >= 60 %>
    <% total_break_total += total_break %>
  <% end %>
  <% if total_work && total_work >= 60 %>
    <% total_work_total += total_work %>
  <% end %>
<% end %>

<div>
<span>平日</span>
<span><%= (shotei_total_weekday / 3600).floor %>.<%= (shotei_total_weekday.modulo(3600) / 60).floor %></span>
<span><%= (shoteigai_total_weekday / 3600).floor %>.<%= (shoteigai_total_weekday.modulo(3600) / 60).floor %></span>
<span><%= (overtime_total_weekday / 3600).floor %>.<%= (overtime_total_weekday.modulo(3600) / 60).floor %></span>
<span><%= (overtime_midnight_total_weekday / 3600).floor %>.<%= (overtime_midnight_total_weekday.modulo(3600) / 60).floor %></span>
</div>
<div>
<span>法定休日</span>
<span><%= (shotei_total_houtei / 3600).floor %>.<%= (shotei_total_houtei.modulo(3600) / 60).floor %></span>
<span><%= (shoteigai_total_houtei / 3600).floor %>.<%= (shoteigai_total_houtei.modulo(3600) / 60).floor %></span>
<span><%= (overtime_total_houtei / 3600).floor %>.<%= (overtime_total_houtei.modulo(3600) / 60).floor %></span>
<span><%= (overtime_midnight_total_houtei / 3600).floor %>.<%= (overtime_midnight_total_houtei.modulo(3600) / 60).floor %></span>
</div>
<div>
<span>法定外休日</span>
<span><%= (shotei_total_houteigai / 3600).floor %>.<%= (shotei_total_houteigai.modulo(3600) / 60).floor %></span>
<span><%= (shoteigai_total_houteigai / 3600).floor %>.<%= (shoteigai_total_houteigai.modulo(3600) / 60).floor %></span>
<span><%= (overtime_total_houteigai / 3600).floor %>.<%= (overtime_total_houteigai.modulo(3600) / 60).floor %></span>
<span><%= (overtime_midnight_total_houteigai / 3600).floor %>.<%= (overtime_midnight_total_houteigai.modulo(3600) / 60).floor %></span>
</div>

<span><%= (late_total / 3600).floor %>.<%= (late_total.modulo(3600) / 60).floor %></span>
<span><%= (early_total / 3600).floor %>.<%= (early_total.modulo(3600) / 60).floor %></span>
<span><%= (total_break_total / 3600).floor %>.<%= (total_break_total.modulo(3600) / 60).floor %></span>
<span><%= (total_work_total / 3600).floor %>.<%= (total_work_total.modulo(3600) / 60).floor %></span>

<h3>日数集計</h3>
<span>平日出勤</span>
<span>休日出勤</span>
<span>遅刻</span>
<span>早退</span>
<span>有休</span>
<span>代休</span>
<span>特別休暇</span>
<span>欠勤</span>
<br>
<span><%= weekday_count %></span>
<span><%= holiday_count %></span>
<span><%= @timecards.where(start: Time.parse('2000-01-01 09:01')..).count %></span>
<span><%= @timecards.where(finish: ...Time.parse('2000-01-01 18:00')).count %></span>
<span><%= @schedules.where(schedule_type: "有休").count %></span>
<span><%= @schedules.where(schedule_type: "代休").count %></span>
<span><%= @schedules.where(schedule_type: "特別休暇").count %></span>
<span><%= @schedules.where(schedule_type: "欠勤").count %></span>

<h3>日別データ</h3>
<span>打刻申請</span>
<span>日程申請</span>
<span>日付</span>
<span>種別</span>
<span>日程</span>
<span>出勤</span>
<span>退勤</span>
<span>休憩開始</span>
<span>休憩終了</span>
<span>所定</span>
<span>所定外</span>
<span>残業</span>
<span>深夜残業</span>
<span>遅刻</span>
<span>早退</span>
<span>休憩</span>
<span>労働合計</span>
<span>備考</span>
<% @days.each do |d| %>
  <% shoteigai = 0 %>
  <% if d.timecards.find_by(user_id: current_user.id) && d.timecards.find_by(user_id: current_user.id).start && d.timecards.find_by(user_id: current_user.id).finish %>
    <% total_work = (d.timecards.find_by(user_id: current_user.id).finish - d.timecards.find_by(user_id: current_user.id).start) %>
    <% if d.timecards.find_by(user_id: current_user.id).break_start && d.timecards.find_by(user_id: current_user.id).break_finish %>
      <% total_break = d.timecards.find_by(user_id: current_user.id).break_finish - d.timecards.find_by(user_id: current_user.id).break_start %>
      <% total_work = total_work - total_break %>
    <% end %>
    <% if d.timecards.find_by(user_id: current_user.id).start >= Time.parse('2000-01-01 09:01') %>
      <% late = d.timecards.find_by(user_id: current_user.id).start - Time.parse('2000-01-01 09:00') %>
      <% if total_work.to_i < 28800 %>
        <% shoteigai = d.timecards.find_by(user_id: current_user.id).finish - Time.parse('2000-01-01 18:00') %>
      <% else %>
        <% shoteigai = late %>
      <% end %>
    <% else %>
      <% shoteigai = Time.parse('2000-01-01 09:00') - d.timecards.find_by(user_id: current_user.id).start %>
    <% end %>
    <% if d.timecards.find_by(user_id: current_user.id).finish < Time.parse('2000-01-01 18:00') %>
      <% early = Time.parse('2000-01-01 18:00') - d.timecards.find_by(user_id: current_user.id).finish %>
    <% end %>
    <% overtime = total_work - 28800 %>
    <% if d.timecards.find_by(user_id: current_user.id).finish > Time.parse('2000-01-01 22:00') %>
      <% overtime_midnight = d.timecards.find_by(user_id: current_user.id).finish - Time.parse('2000-01-01 22:00') %>
      <% overtime = overtime - overtime_midnight %>
    <% end %>
    <% shotei = total_work %>
    <% if overtime && overtime >= 60 %>
      <% shotei = shotei - overtime %>
    <% end %>
    <% if overtime_midnight && overtime_midnight >= 60 %>
      <% shotei = shotei - overtime_midnight %>
    <% end %>
    <% if shoteigai >= 60 %>
      <% shotei = shotei - shoteigai %>
    <% end %>
  <% end %>
  <div>
    <%= link_to "打刻申請", new_day_pending_timecard_path(d.id) %>
    <%= link_to "日程申請", new_day_pending_schedule_path(d.id) %>
    <span><%= d.date.strftime("%m/%d") %>(<%= day[d.date.wday] %>)</span>
    <span><%= d.day_type %></span>
    <% if d.schedules.find_by(user_id: current_user.id) %>
      <span><%= d.schedules.find_by(user_id: current_user.id).schedule_type %></span>
    <% elsif d.timecards.find_by(user_id: current_user.id) && d.timecards.find_by(user_id: current_user.id).start && d.timecards.find_by(user_id: current_user.id).finish %>
      <span>出勤</span>
    <% elsif d.day_type.include?("休日") %>
      <span>休日</span>
    <% else %>
      <span>-</span>
    <% end %>
    <% if d.timecards.find_by(user_id: current_user.id) %>
      <% if d.timecards.find_by(user_id: current_user.id).start %>
        <span><%= d.timecards.find_by(user_id: current_user.id).start.strftime("%R") %></span>
      <% else %>
        <span>--:--</span>
      <% end %>
      <% if d.timecards.find_by(user_id: current_user.id).finish %>
        <span><%= d.timecards.find_by(user_id: current_user.id).finish.strftime("%R") %></span>
      <% else %>
        <span>--:--</span>
      <% end %>
      <% if d.timecards.find_by(user_id: current_user.id).break_start %>
        <span><%= d.timecards.find_by(user_id: current_user.id).break_start.strftime("%R") %></span>
      <% else %>
        <span>--:--</span>
      <% end %>
      <% if d.timecards.find_by(user_id: current_user.id).break_finish %>
        <span><%= d.timecards.find_by(user_id: current_user.id).break_finish.strftime("%R") %></span>
      <% else %>
        <span>--:--</span>
      <% end %>
    <% else %>
      <span>--:--</span>
      <span>--:--</span>
      <span>--:--</span>
      <span>--:--</span>
    <% end %>
    <% if shotei && shotei >= 60 %>
      <span><%= Time.at(shotei.to_i).utc.strftime('%-H.%-M') %></span>
    <% else %>
      <span>-</span>
    <% end %>
    <% if shoteigai && shoteigai >= 60 %>
      <span><%= Time.at(shoteigai.to_i).utc.strftime('%-H.%-M') %></span>
    <% else %>
      <span>-</span>
    <% end %>
    <% if overtime && overtime >= 60 %>
      <span><%= Time.at(overtime.to_i).utc.strftime('%-H.%-M') %></span>
    <% else %>
      <span>-</span>
    <% end %>
    <% if overtime_midnight && overtime_midnight >= 60 %>
      <span><%= Time.at(overtime_midnight.to_i).utc.strftime('%-H.%-M') %></span>
    <% else %>
      <span>-</span>
    <% end %>
    <% if late && late >= 60 %>
      <span><%= Time.at(late.to_i).utc.strftime('%-H.%-M') %></span>
    <% else %>
      <span>-</span>
    <% end %>
    <% if early && early >= 60 %>
      <span><%= Time.at(early.to_i).utc.strftime('%-H.%-M') %></span>
    <% else %>
      <span>-</span>
    <% end %>
    <% if total_break && total_break >= 60 %>
      <span><%= Time.at(total_break.to_i).utc.strftime('%-H.%-M') %></span>
    <% else %>
      <span>-</span>
    <% end %>
    <% if total_work && total_work >= 60 %>
      <span><%= Time.at(total_work.to_i).utc.strftime('%-H.%-M') %></span>
    <% else %>
      <span>-</span>
    <% end %>
    <% if d.schedules.find_by(user_id: current_user.id) && d.schedules.find_by(user_id: current_user.id).remark %>
      <span><%= d.schedules.find_by(user_id: current_user.id).remark %></span>
    <% else %>
      <span>-</span>
    <% end %>
  </div>
<% end %>