<%= render "shared/flash" %>
<%= render "shared/header_common" %>

<div class="users-index wrapper">

  <h2><i class="fas fa-users"></i> ユーザー一覧</h2>

  <div class="users-index-department">
    <h3>■営業部</h3>
    <% @users.where(department: "営業部").each do |user| %>
      <div class="users-index-user">
        <span><%= user.full_name %></span>
        <%= link_to edit_user_path(user.id) do %>
          <i class="fas fa-user-edit"></i>
        <% end %>
        <% if user.user_type != "管理者" %>
          <%= link_to "/commute/#{user.id}" do %>
            <i class="fas fa-route"></i>
          <% end %>
        <% end %>
        <%= link_to user_path(user.id), method: :delete,data: {confirm: "ユーザー：#{user.full_name} を削除しますか？"} do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      </div>
    <% end %>
  </div>

  <div class="users-index-department">
    <h3>■貿易部</h3>
    <% @users.where(department: "貿易部").each do |user| %>
      <div class="users-index-user">
        <span><%= user.full_name %></span>
        <%= link_to edit_user_path(user.id) do %>
          <i class="fas fa-user-edit"></i>
        <% end %>
        <% if user.user_type != "管理者" %>
          <%= link_to "/commute/#{user.id}" do %>
            <i class="fas fa-route"></i>
          <% end %>
        <% end %>
        <%= link_to user_path(user.id), method: :delete,data: {confirm: "ユーザー：#{user.full_name} を削除しますか？"} do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      </div>
    <% end %>
  </div>

  <div class="users-index-department">
    <h3>■システム部</h3>
    <% @users.where(department: "システム部").each do |user| %>
      <div class="users-index-user">
        <span><%= user.full_name %></span>
        <%= link_to edit_user_path(user.id) do %>
          <i class="fas fa-user-edit"></i>
        <% end %>
        <% if user.user_type != "管理者" %>
          <%= link_to "/commute/#{user.id}" do %>
            <i class="fas fa-route"></i>
          <% end %>
        <% end %>
        <%= link_to user_path(user.id), method: :delete,data: {confirm: "ユーザー：#{user.full_name} を削除しますか？"} do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      </div>
    <% end %>
  </div>

  <div class="users-index-department">
    <h3>■その他</h3>
    <% @users.where(department: "その他").each do |user| %>
      <div class="users-index-user">
        <span><%= user.full_name %></span>
        <%= link_to edit_user_path(user.id) do %>
          <i class="fas fa-user-edit"></i>
        <% end %>
        <% if user.user_type != "管理者" %>
          <%= link_to "/commute/#{user.id}" do %>
            <i class="fas fa-route"></i>
          <% end %>
        <% end %>
        <%= link_to user_path(user.id), method: :delete,data: {confirm: "ユーザー：#{user.full_name} を削除しますか？"} do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      </div>
    <% end %>
  </div>

</div>