<% day = ["日","月","火","水","木","金","土"] %>

<%= render "shared/header_common" %>

<div class="schedule-edit-wrapper">

  <h2><i class="far fa-calendar-alt"></i> 日程編集</h2>
  <h3><%= @day.date.strftime("%Y/%m/%d") %>(<%= day[@day.date.wday] %>)</h3>

  <h3>■現在の日程</h3>
  <% if @schedule && @schedule.schedule_type.present? %>
    <h3><%= @schedule.schedule_type %></h3>
  <% elsif @day.timecards.find_by(user_id: params[:user_id]) && @day.timecards.find_by(user_id: params[:user_id]).start && @day.timecards.find_by(user_id: params[:user_id]).finish %>
    <h3>出勤</h3>
  <% elsif @day.day_type.include?("休日") %>
    <h3>休日</h3>
  <% else %>
    <h3>-</h3>
  <% end %>

  <h3>■日程申請</h3>
  <% if @schedule %>
    <%= form_with model: @schedule, url: "/user/#{params[:user_id]}/day/#{params[:day_id]}/update_schedule", method: :get do |form| %>
      <div>
        <%= form.label :schedule_type, "日程：" %>
        <%= form.select :schedule_type, ["有休", "代休", "特別休暇", "欠勤"], include_blank: "-" %>
      </div>
      <div>
        <%= form.label :remark, "備考：" %>
        <%= form.text_field :remark %>
      </div>
      <div>
        <%= form.submit "保存" %>
      </div>
    <% end %>
  <% else %>
    <%= form_with model: @schedule_new, url: "/user/#{params[:user_id]}/day/#{params[:day_id]}/update_schedule", method: :get do |form| %>
      <div>
        <%= form.label :schedule_type, "日程：" %>
        <%= form.select :schedule_type, ["有休", "代休", "特別休暇", "欠勤"], include_blank: "-" %>
      </div>
      <div>
        <%= form.label :remark, "備考：" %>
        <%= form.text_field :remark %>
      </div>
      <div>
        <%= form.submit "保存" %>
      </div>
    <% end %>
  <% end %>

</div>