<% if current_user.user_type == "一般" %>
  <%# 承認・棄却カウント（24H） %>
  <div>
    <% approval_count = 0 %>
    <% reject_count = 0 %>
    <% @pending_timecards.each do |pt| %>
      <% if pt.status == "承認" %>
        <% approval_count += 1 %>
      <% elsif pt.status == "棄却" %>
        <% reject_count += 1 %>
      <% end %>
    <% end %>
    <% @pending_schedules.each do |ps| %>
      <% if ps.status == "承認" %>
        <% approval_count += 1 %>
      <% elsif ps.status == "棄却" %>
        <% reject_count += 1 %>
      <% end %>
    <% end %>
    <div>
      <% if approval_count > 0 %>
        <%= link_to requests_path do %>
          <span><i class="fas fa-check"></i><%= approval_count %>件の申請が承認されました（24時間以内）</span>
        <% end %>
      <% end %>
    </div>
    <div>
      <% if reject_count > 0 %>
        <%= link_to requests_path do %>
          <span><i class="fas fa-times"></i><%= reject_count %>件の申請が棄却されました（24時間以内）</span>
        <% end %>
      <% end %>
    </div>
  </div>

  <%# 打刻エラー %>
  <div>
    <% days = @days.where(date: current_user.hire_date..) %>
    <% days.each do |d| %>
      <%# 平日で休暇日程もない日で、出退勤がそろっていない %>
      <% if d.day_type == "平日" %>
        <% if d.schedules.find_by(user_id: current_user.id).nil? || d.schedules.find_by(user_id: current_user.id) && d.schedules.find_by(user_id: current_user.id).schedule_type.blank? %>
          <% unless d.timecards.find_by(user_id: current_user.id) && d.timecards.find_by(user_id: current_user.id).start && d.timecards.find_by(user_id: current_user.id).finish %>
            <%= link_to "/year_months/#{d.year_month_id}" do %>
              <div><span><i class="fas fa-exclamation-triangle"></i>打刻エラーがあります</span></div>
            <% end %>
            <% break %>
          <% end %>
        <% end %>
      <% end %>
      <%# 休日に休暇日程をとっている %>
      <% if d.day_type.include?("休日") && d.schedules.find_by(user_id: current_user.id) && d.schedules.find_by(user_id: current_user.id).schedule_type.present? %>
        <%= link_to "/year_months/#{d.year_month_id}" do %>
          <div><span><i class="fas fa-exclamation-triangle"></i>打刻エラーがあります</span></div>
        <% end %>
        <% break %>
      <% end %>
      <%# 休暇日程をとっている日に打刻 %>
      <% if d.schedules.find_by(user_id: current_user.id) && d.schedules.find_by(user_id: current_user.id).schedule_type.present? %>
        <% if d.timecards.find_by(user_id: current_user.id) && d.timecards.find_by(user_id: current_user.id).start.present? %>
          <%= link_to "/year_months/#{d.year_month_id}" do %>
            <div><span><i class="fas fa-exclamation-triangle"></i>打刻エラーがあります</span></div>
          <% end %>
          <% break %>
        <% end %>
        <% if d.timecards.find_by(user_id: current_user.id) && d.timecards.find_by(user_id: current_user.id).finish.present? %>
          <%= link_to "/year_months/#{d.year_month_id}" do %>
            <div><span><i class="fas fa-exclamation-triangle"></i>打刻エラーがあります</span></div>
          <% end %>
          <% break %>
        <% end %>
        <% if d.timecards.find_by(user_id: current_user.id) && d.timecards.find_by(user_id: current_user.id).break_start.present? %>
          <%= link_to "/year_months/#{d.year_month_id}" do %>
            <div><span><i class="fas fa-exclamation-triangle"></i>打刻エラーがあります</span></div>
          <% end %>
          <% break %>
        <% end %>
        <% if d.timecards.find_by(user_id: current_user.id) && d.timecards.find_by(user_id: current_user.id).break_start.present? %>
          <%= link_to "/year_months/#{d.year_month_id}" do %>
            <div><span><i class="fas fa-exclamation-triangle"></i>打刻エラーがあります</span></div>
          <% end %>
          <% break %>
        <% end %>
      <% end %>
      <%# 出勤 < 休始 < 休終 < 退勤 になっていない %>
      <% if d.timecards.find_by(user_id: current_user.id) && d.timecards.find_by(user_id: current_user.id).start.present? && d.timecards.find_by(user_id: current_user.id).finish.present? %>
        <% unless d.timecards.find_by(user_id: current_user.id).start < d.timecards.find_by(user_id: current_user.id).finish %>
          <%= link_to "/year_months/#{d.year_month_id}" do %>
            <div><span><i class="fas fa-exclamation-triangle"></i>打刻エラーがあります</span></div>
          <% end %>
          <% break %>
        <% end %>
        <% if d.timecards.find_by(user_id: current_user.id).break_start.present? && d.timecards.find_by(user_id: current_user.id).break_finish.present? %>
          <% unless d.timecards.find_by(user_id: current_user.id).start < d.timecards.find_by(user_id: current_user.id).break_start && d.timecards.find_by(user_id: current_user.id).break_start < d.timecards.find_by(user_id: current_user.id).break_finish && d.timecards.find_by(user_id: current_user.id).break_finish < d.timecards.find_by(user_id: current_user.id).finish %>
            <%= link_to "/year_months/#{d.year_month_id}" do %>
              <div><span><i class="fas fa-exclamation-triangle"></i>打刻エラーがあります</span></div>
            <% end %>
            <% break %>
          <% end %>
        <% end %>
      <% end %>
      <%# 出勤があって退勤がない %>
      <% if d.timecards.find_by(user_id: current_user.id) && d.timecards.find_by(user_id: current_user.id).start.present? && d.timecards.find_by(user_id: current_user.id).finish.blank? %>
        <%= link_to "/year_months/#{d.year_month_id}" do %>
          <div><span><i class="fas fa-exclamation-triangle"></i>打刻エラーがあります</span></div>
        <% end %>
        <% break %>
      <% end %>
      <%# 退勤があって出勤がない %>
      <% if d.timecards.find_by(user_id: current_user.id) && d.timecards.find_by(user_id: current_user.id).finish.present? && d.timecards.find_by(user_id: current_user.id).start.blank? %>
        <%= link_to "/year_months/#{d.year_month_id}" do %>
          <div><span><i class="fas fa-exclamation-triangle"></i>打刻エラーがあります</span></div>
        <% end %>
        <% break %>
      <% end %>
      <%# 休始があって休終がない %>
      <% if d.timecards.find_by(user_id: current_user.id) && d.timecards.find_by(user_id: current_user.id).break_start.present? && d.timecards.find_by(user_id: current_user.id).break_finish.blank? %>
        <%= link_to "/year_months/#{d.year_month_id}" do %>
          <div><span><i class="fas fa-exclamation-triangle"></i>打刻エラーがあります</span></div>
        <% end %>
        <% break %>
      <% end %>
      <%# 休終があって休始がない %>
      <% if d.timecards.find_by(user_id: current_user.id) && d.timecards.find_by(user_id: current_user.id).break_finish.present? && d.timecards.find_by(user_id: current_user.id).break_start.blank? %>
        <%= link_to "/year_months/#{d.year_month_id}" do %>
          <div><span><i class="fas fa-exclamation-triangle"></i>打刻エラーがあります</span></div>
        <% end %>
        <% break %>
      <% end %>
    <% end %>
  </div>
  
  <%# 通勤費エラー（当日） %>
  <div>
    <% if Day.find_by(date: Date.today) && Day.find_by(date: Date.today).travel_costs.find_by(user_id: current_user.id).nil? %>
      <div><span><i class="fas fa-exclamation-triangle"></i>本日分の通勤費が未登録です</span></div>
    <% end %>
  </div>

  <%# 通勤費エラー %>
  <div>
    <% days = @days.where(date: current_user.hire_date..) %>
    <% days.each do |d| %>
      <% if d.timecards.find_by(user_id: current_user.id) && d.timecards.find_by(user_id: current_user.id).start.present? && d.timecards.find_by(user_id: current_user.id).finish.present? %>
        <% unless d.travel_costs.find_by(user_id: current_user.id) %>
          <%= link_to "/travel_cost/index/#{current_user.id}/#{d.year_month_id}" do %>
            <div><span><i class="fas fa-exclamation-triangle"></i>通勤費エラーがあります</span></div>
          <% end %>
          <% break %>
        <% end %>
      <% else %>
        <% if d.travel_costs.find_by(user_id: current_user.id) %>
          <%= link_to "/travel_cost/index/#{current_user.id}/#{d.year_month_id}" do %>
            <div><span><i class="fas fa-exclamation-triangle"></i>通勤費エラーがあります</span></div>
          <% end %>
          <% break %>
        <% end %>
      <% end %>
    <% end %>
  </div>



<% elsif current_user.user_type == "上長" %>
  <%# 未承認カウント %>
  <div>
    <% unapproved_count = @pending_timecards_member.count + @pending_schedules_member.count %>
    <% if unapproved_count > 0 %>
      <%= link_to permissions_path, data: { turbolinks: false } do %>
        <div><span><i class="far fa-hand-paper"></i><%= unapproved_count %>件の未承認の申請があります</span></div>
      <% end %>
    <% end %>
  </div>

  <%# 打刻エラー（メンバー） %>
  <div>
    <% isBreak = false %>
    <% @members.each do |m| %>
      <% days_members = @days.where(date: m.hire_date..) %>
      <% days_members.each do |d| %>
        <%# 平日で休暇日程もない日で、出退勤がそろっていない %>
        <% if d.day_type == "平日" %>
          <% if d.schedules.find_by(user_id: m.id).nil? || d.schedules.find_by(user_id: m.id) && d.schedules.find_by(user_id: m.id).schedule_type.blank? %>
            <% unless d.timecards.find_by(user_id: m.id) && d.timecards.find_by(user_id: m.id).start && d.timecards.find_by(user_id: m.id).finish %>
              <%= link_to timecards_path do %>
                <div><span><i class="fas fa-exclamation-triangle"></i>打刻エラーがあります（メンバー）</span></div>
              <% end %>
              <% isBreak = true %>
              <% break %>
            <% end %>
          <% end %>
        <% end %>
        <%# 休日に休暇日程をとっている %>
        <% if d.day_type.include?("休日") && d.schedules.find_by(user_id: m.id) && d.schedules.find_by(user_id: m.id).schedule_type.present? %>
          <%= link_to timecards_path do %>
              <div><span><i class="fas fa-exclamation-triangle"></i>打刻エラーがあります（メンバー）</span></div>
            <% end %>
          <% isBreak = true %>
          <% break %>
        <% end %>
        <%# 休暇日程をとっている日に打刻 %>
        <% if d.schedules.find_by(user_id: m.id) && d.schedules.find_by(user_id: m.id).schedule_type.present? %>
          <% if d.timecards.find_by(user_id: m.id) && d.timecards.find_by(user_id: m.id).start.present? %>
            <%= link_to timecards_path do %>
              <div><span><i class="fas fa-exclamation-triangle"></i>打刻エラーがあります（メンバー）</span></div>
            <% end %>
            <% isBreak = true %>
            <% break %>
          <% end %>
          <% if d.timecards.find_by(user_id: m.id) && d.timecards.find_by(user_id: m.id).finish.present? %>
            <%= link_to timecards_path do %>
              <div><span><i class="fas fa-exclamation-triangle"></i>打刻エラーがあります（メンバー）</span></div>
            <% end %>
            <% isBreak = true %>
            <% break %>
          <% end %>
          <% if d.timecards.find_by(user_id: m.id) && d.timecards.find_by(user_id: m.id).break_start.present? %>
            <%= link_to timecards_path do %>
              <div><span><i class="fas fa-exclamation-triangle"></i>打刻エラーがあります（メンバー）</span></div>
            <% end %>
            <% isBreak = true %>
            <% break %>
          <% end %>
          <% if d.timecards.find_by(user_id: m.id) && d.timecards.find_by(user_id: m.id).break_start.present? %>
            <%= link_to timecards_path do %>
              <div><span><i class="fas fa-exclamation-triangle"></i>打刻エラーがあります（メンバー）</span></div>
            <% end %>
            <% isBreak = true %>
            <% break %>
          <% end %>
        <% end %>
        <%# 出勤 < 休始 < 休終 < 退勤 になっていない %>
        <% if d.timecards.find_by(user_id: m.id) && d.timecards.find_by(user_id: m.id).start.present? && d.timecards.find_by(user_id: m.id).finish.present? %>
          <% unless d.timecards.find_by(user_id: m.id).start < d.timecards.find_by(user_id: m.id).finish %>
            <%= link_to timecards_path do %>
              <div><span><i class="fas fa-exclamation-triangle"></i>打刻エラーがあります（メンバー）</span></div>
            <% end %>
            <% isBreak = true %>
            <% break %>
          <% end %>
          <% if d.timecards.find_by(user_id: m.id).break_start.present? && d.timecards.find_by(user_id: m.id).break_finish.present? %>
            <% unless d.timecards.find_by(user_id: m.id).start < d.timecards.find_by(user_id: m.id).break_start && d.timecards.find_by(user_id: m.id).break_start < d.timecards.find_by(user_id: m.id).break_finish && d.timecards.find_by(user_id: m.id).break_finish < d.timecards.find_by(user_id: m.id).finish %>
              <%= link_to timecards_path do %>
                <div><span><i class="fas fa-exclamation-triangle"></i>打刻エラーがあります（メンバー）</span></div>
              <% end %>
              <% isBreak = true %>
              <% break %>
            <% end %>
          <% end %>
        <% end %>
        <%# 出勤があって退勤がない %>
        <% if d.timecards.find_by(user_id: m.id) && d.timecards.find_by(user_id: m.id).start.present? && d.timecards.find_by(user_id: m.id).finish.blank? %>
          <%= link_to timecards_path do %>
            <div><span><i class="fas fa-exclamation-triangle"></i>打刻エラーがあります（メンバー）</span></div>
          <% end %>
          <% isBreak = true %>
          <% break %>
        <% end %>
        <%# 退勤があって出勤がない %>
        <% if d.timecards.find_by(user_id: m.id) && d.timecards.find_by(user_id: m.id).finish.present? && d.timecards.find_by(user_id: m.id).start.blank? %>
          <%= link_to timecards_path do %>
            <div><span><i class="fas fa-exclamation-triangle"></i>打刻エラーがあります（メンバー）</span></div>
          <% end %>
          <% isBreak = true %>
          <% break %>
        <% end %>
        <%# 休始があって休終がない %>
        <% if d.timecards.find_by(user_id: m.id) && d.timecards.find_by(user_id: m.id).break_start.present? && d.timecards.find_by(user_id: m.id).break_finish.blank? %>
          <%= link_to timecards_path do %>
            <div><span><i class="fas fa-exclamation-triangle"></i>打刻エラーがあります（メンバー）</span></div>
          <% end %>
          <% isBreak = true %>
          <% break %>
        <% end %>
        <%# 休終があって休始がない %>
        <% if d.timecards.find_by(user_id: m.id) && d.timecards.find_by(user_id: m.id).break_finish.present? && d.timecards.find_by(user_id: m.id).break_start.blank? %>
          <%= link_to timecards_path do %>
            <div><span><i class="fas fa-exclamation-triangle"></i>打刻エラーがあります（メンバー）</span></div>
          <% end %>
          <% isBreak = true %>
          <% break %>
        <% end %>
      <% end %>
      <% break if isBreak %>
    <% end %>
  </div>

  <%# 通勤費エラー（メンバー） %>
  <div>
    <% isBreak = false %>
    <% @members.each do |m| %>
      <% days_members = @days.where(date: m.hire_date..) %>
      <% days_members.each do |d| %>
        <% if d.timecards.find_by(user_id: m.id) && d.timecards.find_by(user_id: m.id).start.present? && d.timecards.find_by(user_id: m.id).finish.present? %>
          <% unless d.travel_costs.find_by(user_id: m.id) %>
            <%= link_to timecards_path do %>
              <div><span><i class="fas fa-exclamation-triangle"></i>通勤費エラーがあります（メンバー）</span></div>
            <% end %>
            <% isBreak = true %>
            <% break %>
          <% end %>
        <% else %>
          <% if d.travel_costs.find_by(user_id: m.id) %>
            <%= link_to timecards_path do %>
              <div><span><i class="fas fa-exclamation-triangle"></i>通勤費エラーがあります（メンバー）</span></div>
            <% end %>
            <% isBreak = true %>
            <% break %>
          <% end %>
        <% end %>
      <% end %>
      <% break if isBreak %>
    <% end %>
  </div>

  <%# 打刻エラー（個人） %>
  <div>
    <% days = @days.where(date: current_user.hire_date..) %>
    <% days.each do |d| %>
      <%# 平日で休暇日程もない日で、出退勤がそろっていない %>
      <% if d.day_type == "平日" %>
        <% if d.schedules.find_by(user_id: current_user.id).nil? || d.schedules.find_by(user_id: current_user.id) && d.schedules.find_by(user_id: current_user.id).schedule_type.blank? %>
          <% unless d.timecards.find_by(user_id: current_user.id) && d.timecards.find_by(user_id: current_user.id).start && d.timecards.find_by(user_id: current_user.id).finish %>
            <%= link_to "/year_months/#{d.year_month_id}" do %>
              <div><span><i class="fas fa-exclamation-triangle"></i>打刻エラーがあります（個人）</span></div>
            <% end %>
            <% break %>
          <% end %>
        <% end %>
      <% end %>
      <%# 休日に休暇日程をとっている %>
      <% if d.day_type.include?("休日") && d.schedules.find_by(user_id: current_user.id) && d.schedules.find_by(user_id: current_user.id).schedule_type.present? %>
        <%= link_to "/year_months/#{d.year_month_id}" do %>
          <div><span><i class="fas fa-exclamation-triangle"></i>打刻エラーがあります</span></div>
        <% end %>
        <% break %>
      <% end %>
      <%# 休暇日程をとっている日に打刻 %>
      <% if d.schedules.find_by(user_id: current_user.id) && d.schedules.find_by(user_id: current_user.id).schedule_type.present? %>
        <% if d.timecards.find_by(user_id: current_user.id) && d.timecards.find_by(user_id: current_user.id).start.present? %>
          <%= link_to "/year_months/#{d.year_month_id}" do %>
            <div><span><i class="fas fa-exclamation-triangle"></i>打刻エラーがあります（個人）</span></div>
          <% end %>
          <% break %>
        <% end %>
        <% if d.timecards.find_by(user_id: current_user.id) && d.timecards.find_by(user_id: current_user.id).finish.present? %>
          <%= link_to "/year_months/#{d.year_month_id}" do %>
            <div><span><i class="fas fa-exclamation-triangle"></i>打刻エラーがあります（個人）</span></div>
          <% end %>
          <% break %>
        <% end %>
        <% if d.timecards.find_by(user_id: current_user.id) && d.timecards.find_by(user_id: current_user.id).break_start.present? %>
          <%= link_to "/year_months/#{d.year_month_id}" do %>
            <div><span><i class="fas fa-exclamation-triangle"></i>打刻エラーがあります（個人）</span></div>
          <% end %>
          <% break %>
        <% end %>
        <% if d.timecards.find_by(user_id: current_user.id) && d.timecards.find_by(user_id: current_user.id).break_start.present? %>
          <%= link_to "/year_months/#{d.year_month_id}" do %>
            <div><span><i class="fas fa-exclamation-triangle"></i>打刻エラーがあります（個人）</span></div>
          <% end %>
          <% break %>
        <% end %>
      <% end %>
      <%# 出勤 < 休始 < 休終 < 退勤 になっていない %>
      <% if d.timecards.find_by(user_id: current_user.id) && d.timecards.find_by(user_id: current_user.id).start.present? && d.timecards.find_by(user_id: current_user.id).finish.present? %>
        <% unless d.timecards.find_by(user_id: current_user.id).start < d.timecards.find_by(user_id: current_user.id).finish %>
          <%= link_to "/year_months/#{d.year_month_id}" do %>
            <div><span><i class="fas fa-exclamation-triangle"></i>打刻エラーがあります（個人）</span></div>
          <% end %>
          <% break %>
        <% end %>
        <% if d.timecards.find_by(user_id: current_user.id).break_start.present? && d.timecards.find_by(user_id: current_user.id).break_finish.present? %>
          <% unless d.timecards.find_by(user_id: current_user.id).start < d.timecards.find_by(user_id: current_user.id).break_start && d.timecards.find_by(user_id: current_user.id).break_start < d.timecards.find_by(user_id: current_user.id).break_finish && d.timecards.find_by(user_id: current_user.id).break_finish < d.timecards.find_by(user_id: current_user.id).finish %>
            <%= link_to "/year_months/#{d.year_month_id}" do %>
              <div><span><i class="fas fa-exclamation-triangle"></i>打刻エラーがあります（個人）</span></div>
            <% end %>
            <% break %>
          <% end %>
        <% end %>
      <% end %>
      <%# 出勤があって退勤がない %>
      <% if d.timecards.find_by(user_id: current_user.id) && d.timecards.find_by(user_id: current_user.id).start.present? && d.timecards.find_by(user_id: current_user.id).finish.blank? %>
        <%= link_to "/year_months/#{d.year_month_id}" do %>
          <div><span><i class="fas fa-exclamation-triangle"></i>打刻エラーがあります（個人）</span></div>
        <% end %>
        <% break %>
      <% end %>
      <%# 退勤があって出勤がない %>
      <% if d.timecards.find_by(user_id: current_user.id) && d.timecards.find_by(user_id: current_user.id).finish.present? && d.timecards.find_by(user_id: current_user.id).start.blank? %>
        <%= link_to "/year_months/#{d.year_month_id}" do %>
          <div><span><i class="fas fa-exclamation-triangle"></i>打刻エラーがあります（個人）</span></div>
        <% end %>
        <% break %>
      <% end %>
      <%# 休始があって休終がない %>
      <% if d.timecards.find_by(user_id: current_user.id) && d.timecards.find_by(user_id: current_user.id).break_start.present? && d.timecards.find_by(user_id: current_user.id).break_finish.blank? %>
        <%= link_to "/year_months/#{d.year_month_id}" do %>
          <div><span><i class="fas fa-exclamation-triangle"></i>打刻エラーがあります（個人）</span></div>
        <% end %>
        <% break %>
      <% end %>
      <%# 休終があって休始がない %>
      <% if d.timecards.find_by(user_id: current_user.id) && d.timecards.find_by(user_id: current_user.id).break_finish.present? && d.timecards.find_by(user_id: current_user.id).break_start.blank? %>
        <%= link_to "/year_months/#{d.year_month_id}" do %>
          <div><span><i class="fas fa-exclamation-triangle"></i>打刻エラーがあります（個人）</span></div>
        <% end %>
        <% break %>
      <% end %>
    <% end %>
  </div>

  <%# 通勤費エラー（当日）（個人） %>
  <div>
    <% if Day.find_by(date: Date.today) && Day.find_by(date: Date.today).travel_costs.find_by(user_id: current_user.id).nil? %>
      <div><span><i class="fas fa-exclamation-triangle"></i>本日分の通勤費が未登録です（個人）</span></div>
    <% end %>
  </div>

  <%# 通勤費エラー（個人） %>
  <div>
    <% days = @days.where(date: current_user.hire_date..) %>
    <% days.each do |d| %>
      <% if d.timecards.find_by(user_id: current_user.id) && d.timecards.find_by(user_id: current_user.id).start.present? && d.timecards.find_by(user_id: current_user.id).finish.present? %>
        <% unless d.travel_costs.find_by(user_id: current_user.id) %>
          <%= link_to "/travel_cost/index/#{current_user.id}/#{d.year_month_id}" do %>
            <div><span><i class="fas fa-exclamation-triangle"></i>通勤費エラーがあります（個人）</span></div>
          <% end %>
          <% break %>
        <% end %>
      <% else %>
        <% if d.travel_costs.find_by(user_id: current_user.id) %>
          <%= link_to "/travel_cost/index/#{current_user.id}/#{d.year_month_id}" do %>
            <div><span><i class="fas fa-exclamation-triangle"></i>通勤費エラーがあります（個人）</span></div>
          <% end %>
          <% break %>
        <% end %>
      <% end %>
    <% end %>
  </div>

<% elsif current_user.user_type == "管理者" %>
  <%# 未承認カウント %>
  <div>
    <% unapproved_count = @waiting_pending_timecards.count + @waiting_pending_schedules.count %>
    <% if unapproved_count > 0 %>
      <%= link_to permissions_path, data: { turbolinks: false } do %>
        <div><span><i class="far fa-hand-paper"></i><%= unapproved_count %>件の未承認の申請があります</span></div>
      <% end %>
    <% end %>
  </div>

  <%# 打刻エラー（全社員） %>
  <div>
    <% isBreak = false %>
    <% @users.each do |m| %>
      <% days_members = @days.where(date: m.hire_date..) %>
      <% days_members.each do |d| %>
        <%# 平日で休暇日程もない日で、出退勤がそろっていない %>
        <% if d.day_type == "平日" %>
          <% if d.schedules.find_by(user_id: m.id).nil? || d.schedules.find_by(user_id: m.id) && d.schedules.find_by(user_id: m.id).schedule_type.blank? %>
            <% unless d.timecards.find_by(user_id: m.id) && d.timecards.find_by(user_id: m.id).start && d.timecards.find_by(user_id: m.id).finish %>
              <%= link_to timecards_path do %>
                <div><span><i class="fas fa-exclamation-triangle"></i>打刻エラーがあります（全社員）</span></div>
              <% end %>
              <% isBreak = true %>
              <% break %>
            <% end %>
          <% end %>
        <% end %>
        <%# 休日に休暇日程をとっている %>
        <% if d.day_type.include?("休日") && d.schedules.find_by(user_id: m.id) && d.schedules.find_by(user_id: m.id).schedule_type.present? %>
          <%= link_to timecards_path do %>
              <div><span><i class="fas fa-exclamation-triangle"></i>打刻エラーがあります（全社員）</span></div>
            <% end %>
          <% isBreak = true %>
          <% break %>
        <% end %>
        <%# 休暇日程をとっている日に打刻 %>
        <% if d.schedules.find_by(user_id: m.id) && d.schedules.find_by(user_id: m.id).schedule_type.present? %>
          <% if d.timecards.find_by(user_id: m.id).start && d.timecards.find_by(user_id: m.id).start.present? %>
            <%= link_to timecards_path do %>
              <div><span><i class="fas fa-exclamation-triangle"></i>打刻エラーがあります（全社員）</span></div>
            <% end %>
            <% isBreak = true %>
            <% break %>
          <% end %>
          <% if d.timecards.find_by(user_id: m.id).start && d.timecards.find_by(user_id: m.id).finish.present? %>
            <%= link_to timecards_path do %>
              <div><span><i class="fas fa-exclamation-triangle"></i>打刻エラーがあります（全社員）</span></div>
            <% end %>
            <% isBreak = true %>
            <% break %>
          <% end %>
          <% if d.timecards.find_by(user_id: m.id).start && d.timecards.find_by(user_id: m.id).break_start.present? %>
            <%= link_to timecards_path do %>
              <div><span><i class="fas fa-exclamation-triangle"></i>打刻エラーがあります（全社員）</span></div>
            <% end %>
            <% isBreak = true %>
            <% break %>
          <% end %>
          <% if d.timecards.find_by(user_id: m.id).start && d.timecards.find_by(user_id: m.id).break_start.present? %>
            <%= link_to timecards_path do %>
              <div><span><i class="fas fa-exclamation-triangle"></i>打刻エラーがあります（全社員）</span></div>
            <% end %>
            <% isBreak = true %>
            <% break %>
          <% end %>
        <% end %>
        <%# 出勤 < 休始 < 休終 < 退勤 になっていない %>
        <% if d.timecards.find_by(user_id: m.id) && d.timecards.find_by(user_id: m.id).start.present? && d.timecards.find_by(user_id: m.id).finish.present? %>
          <% unless d.timecards.find_by(user_id: m.id).start < d.timecards.find_by(user_id: m.id).finish %>
            <%= link_to timecards_path do %>
              <div><span><i class="fas fa-exclamation-triangle"></i>打刻エラーがあります（全社員）</span></div>
            <% end %>
            <% isBreak = true %>
            <% break %>
          <% end %>
          <% if d.timecards.find_by(user_id: m.id).break_start.present? && d.timecards.find_by(user_id: m.id).break_finish.present? %>
            <% unless d.timecards.find_by(user_id: m.id).start < d.timecards.find_by(user_id: m.id).break_start && d.timecards.find_by(user_id: m.id).break_start < d.timecards.find_by(user_id: m.id).break_finish && d.timecards.find_by(user_id: m.id).break_finish < d.timecards.find_by(user_id: m.id).finish %>
              <%= link_to timecards_path do %>
                <div><span><i class="fas fa-exclamation-triangle"></i>打刻エラーがあります（全社員）</span></div>
              <% end %>
              <% isBreak = true %>
              <% break %>
            <% end %>
          <% end %>
        <% end %>
        <%# 出勤があって退勤がない %>
        <% if d.timecards.find_by(user_id: m.id) && d.timecards.find_by(user_id: m.id).start.present? && d.timecards.find_by(user_id: m.id).finish.blank? %>
          <%= link_to timecards_path do %>
            <div><span><i class="fas fa-exclamation-triangle"></i>打刻エラーがあります（全社員）</span></div>
          <% end %>
          <% isBreak = true %>
          <% break %>
        <% end %>
        <%# 退勤があって出勤がない %>
        <% if d.timecards.find_by(user_id: m.id) && d.timecards.find_by(user_id: m.id).finish.present? && d.timecards.find_by(user_id: m.id).start.blank? %>
          <%= link_to timecards_path do %>
            <div><span><i class="fas fa-exclamation-triangle"></i>打刻エラーがあります（全社員）</span></div>
          <% end %>
          <% isBreak = true %>
          <% break %>
        <% end %>
        <%# 休始があって休終がない %>
        <% if d.timecards.find_by(user_id: m.id) && d.timecards.find_by(user_id: m.id).break_start.present? && d.timecards.find_by(user_id: m.id).break_finish.blank? %>
          <%= link_to timecards_path do %>
            <div><span><i class="fas fa-exclamation-triangle"></i>打刻エラーがあります（全社員）</span></div>
          <% end %>
          <% isBreak = true %>
          <% break %>
        <% end %>
        <%# 休終があって休始がない %>
        <% if d.timecards.find_by(user_id: m.id) && d.timecards.find_by(user_id: m.id).break_finish.present? && d.timecards.find_by(user_id: m.id).break_start.blank? %>
          <%= link_to timecards_path do %>
            <div><span><i class="fas fa-exclamation-triangle"></i>打刻エラーがあります（全社員）</span></div>
          <% end %>
          <% isBreak = true %>
          <% break %>
        <% end %>
      <% end %>
      <% break if isBreak %>
    <% end %>
  </div>

  <%# 通勤費エラー（全社員） %>
  <div>
    <% isBreak = false %>
    <% @users.each do |m| %>
      <% days_members = @days.where(date: m.hire_date..) %>
      <% days_members.each do |d| %>
        <% if d.timecards.find_by(user_id: m.id) && d.timecards.find_by(user_id: m.id).start.present? && d.timecards.find_by(user_id: m.id).finish.present? %>
          <% unless d.travel_costs.find_by(user_id: m.id) %>
            <%= link_to timecards_path do %>
              <div><span><i class="fas fa-exclamation-triangle"></i>通勤費エラーがあります（全社員）</span></div>
            <% end %>
            <% isBreak = true %>
            <% break %>
          <% end %>
        <% else %>
          <% if d.travel_costs.find_by(user_id: m.id) %>
            <%= link_to timecards_path do %>
              <div><span><i class="fas fa-exclamation-triangle"></i>通勤費エラーがあります（全社員）</span></div>
            <% end %>
            <% isBreak = true %>
            <% break %>
          <% end %>
        <% end %>
      <% end %>
      <% break if isBreak %>
    <% end %>
  </div>
<% end %>