<header class="header-common">
  <div class="header-left">
    <% if current_user %>
      <span><%= current_user.department %>　</span>
      <span><%= current_user.last_name + " " + current_user.first_name %></span>
    <% else %>
      <span>ログインしていません</span>
    <% end %>
  </div>
  <div class="header-right">
    <% if current_user.user_type == "一般" %>
      <%= link_to new_timecard_path do %>
        <i class="far fa-clock"></i>
      <% end %>
      <%= link_to "/year_months/#{Day.find_by(date: Date.today).year_month_id}" do %>
        <i class="far fa-calendar-alt"></i>
      <% end %>
      <%= link_to requests_path do %>
        <i class="far fa-list-alt"></i>
      <% end %>
      <%= link_to setting_path do %>
        <i class="fas fa-cog"></i>
      <% end %>
    <% elsif current_user.user_type == "上長" %>
      <%= link_to new_timecard_path do %>
        <i class="far fa-clock"></i>
      <% end %>
      <%= link_to "/year_months/#{Day.find_by(date: Date.today).year_month_id}" do %>
        <i class="far fa-calendar-alt"></i>
      <% end %>
      <%= link_to requests_path do %>
        <i class="far fa-list-alt"></i>
      <% end %>
      <%= link_to timecards_path do %>
        <i class="fas fa-user-clock"></i>
      <% end %>
      <%= link_to permissions_path, data: { turbolinks: false } do %>
        <i class="far fa-check-square"></i>
      <% end %>
      <%= link_to "#" do %>
        <i class="fas fa-chart-bar"></i>
      <% end %>
      <%= link_to setting_path do %>
        <i class="fas fa-cog"></i>
      <% end %>
    <% elsif current_user.user_type == "管理者" %>
      <%= link_to new_timecard_path do %>
        <i class="fas fa-home"></i>
      <% end %>
      <%= link_to timecards_path do %>
        <i class="fas fa-user-clock"></i>
      <% end %>
      <%= link_to permissions_path, data: { turbolinks: false } do %>
        <i class="far fa-check-square"></i>
      <% end %>
      <%= link_to "#" do %>
        <i class="fas fa-chart-bar"></i>
      <% end %>
      <%= link_to setting_path do %>
        <i class="fas fa-cog"></i>
      <% end %>
    <% end %>
  </div>
</header>

<div class="header-space">
</div>