<%= render "shared/header_common" %>

<h2>設定</h2>

<div>
<%= link_to "パスワード変更", "#" %>
<br>
<%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
</div>

<% if current_user.user_type == "管理者" %>
  <div>
    <%= link_to "ユーザー一覧、編集", "#" %>
    <br>
    <%= link_to "ユーザー新規登録", "new_user_registration_path" %>
  </div>

  <div>
    <%= link_to "カレンダー一覧・編集", year_months_path %>
    <br>
    <%= link_to "カレンダー新規作成", new_year_month_path %>
  </div>
<% end %>