<% day = ["日","月","火","水","木","金","土"] %>

<%= render "shared/flash" %>
<%= render "shared/header_common" %>

<div class="requests-wrapper">

  <h2><i class="far fa-list-alt"></i> 申請一覧（個人）</h2>
  <h3>未承認の申請</h3>

  <p>■打刻申請</p>
  <% if @pending_timecards.exists?(status: "未承認") %>
    <table>
      <thead>
        <th>申請日</th>
        <th>対象日</th>
        <th>打刻種別</th>
        <th>申請元の打刻</th>
        <th>申請された打刻</th>
        <th>申請者メッセージ</th>
        <th>キャンセル</th>
      </thead>
        <% @pending_timecards.each do |pt| %>
          <tr>
            <% if pt.status == "未承認" %>
              <td><%= pt.created_at.strftime("%m/%d") %>(<%= day[pt.created_at.wday] %>)</td>
              <td><%= Day.find_by(id: Timecard.find_by(id: pt.timecard_id).day_id).date.strftime("%m/%d") %>(<%= day[Day.find_by(id: Timecard.find_by(id: pt.timecard_id).day_id).date.wday] %>)</td>
              <td><%= pt.timecard_type %></td>
              <% if pt.timecard_type == "出勤" %>
                <% if Timecard.find_by(id: pt.timecard_id).start.present? %>
                  <td><%= Timecard.find_by(id: pt.timecard_id).start.strftime("%R") %></td>
                <% else %>
                  <td>--:--</td>
                <% end %>
              <% elsif pt.timecard_type == "退勤" %>
                <% if Timecard.find_by(id: pt.timecard_id).finish.present? %>
                  <td><%= Timecard.find_by(id: pt.timecard_id).finish.strftime("%R") %></td>
                <% else %>
                  <td>--:--</td>
                <% end %>
              <% elsif pt.timecard_type == "休憩開始" %>
                <% if Timecard.find_by(id: pt.timecard_id).break_start.present? %>
                  <td><%= Timecard.find_by(id: pt.timecard_id).break_start.strftime("%R") %></td>
                <% else %>
                  <td>--:--</td>
                <% end %>
              <% elsif pt.timecard_type == "休憩終了" %>
                <% if Timecard.find_by(id: pt.timecard_id).break_finish.present? %>
                  <td><%= Timecard.find_by(id: pt.timecard_id).break_finish.strftime("%R") %></td>
                <% else %>
                  <td>--:--</td>
                <% end %>
              <% end %>
              <% if pt.pending_time.present? %>
                <td><%= pt.pending_time.strftime("%R") %></td>
              <% else %>
                <td>--:--</td>
              <% end %>
              <% if pt.comment_request.present? %>
                <td><%= pt.comment_request %></td>
              <% else %>
                <td>-</td>
              <% end %>
              <td>
                <%= link_to pending_timecard_path(pt.id), method: :delete do %>
                  <i class="fas fa-trash-alt fa-lg"></i>
                <% end %>
              </td>
            <% end %>
          </tr>
        <% end %>
    </table>
  <% else %>
    <p>未承認の打刻申請はありません</p>
  <% end %>

  <br>
  <p>■日程申請</p>
  <% if @pending_schedules.exists?(status: "未承認") %>
    <table>
      <thead>
        <th>申請日</th>
        <th>対象日</th>
        <th>申請元の日程</th>
        <th>申請された日程</th>
        <th>申請者メッセージ</th>
        <th>キャンセル</th>
      </thead>
      <% @pending_schedules.each do |ps| %>
        <% if ps.status == "未承認" %>
          <tr>
            <td><%= ps.created_at.strftime("%m/%d") %>(<%= day[ps.created_at.wday] %>)</td>
            <td><%= Day.find_by(id: Schedule.find_by(id: ps.schedule_id).day_id).date.strftime("%m/%d") %>(<%= day[Day.find_by(id: Schedule.find_by(id: ps.schedule_id).day_id).date.wday] %>)</td>
            <% if Schedule.find_by(id: ps.schedule_id).schedule_type.present? %>
              <td><%= Schedule.find_by(id: ps.schedule_id).schedule_type %></td>
            <% else %>
              <td>なし</td>
            <% end %>
            <% if ps.schedule_type.present? %>
              <td><%= ps.schedule_type %></td>
            <% else %>
              <td>なし</td>
            <% end %>
            <% if ps.comment_request.present? %>
              <td><%= ps.comment_request %></td>
            <% else %>
              <td>-</td>
            <% end %>
            <td>
              <%= link_to pending_schedule_path(ps.id), method: :delete do %>
                <i class="fas fa-trash-alt fa-lg"></i>
              <% end %>
            </td>
          </tr>
        <% end %>
      <% end %>
    </table>
  <% else %>
    <p>未承認の日程申請はありません</p>
  <% end %>

  <br>
  <h3>承認・棄却済申請</h3>

  <p>■打刻申請</p>
  <% if @pending_timecards.exists?(status: ["承認","棄却"]) %>
    <table>
      <thead>
        <th>申請日</th>
        <th>対象日</th>
        <th>打刻種別</th>
        <th>申請された打刻</th>
        <th>申請者メッセージ</th>
        <th>承認者メッセージ</th>
        <th>承認状態</th>
      </thead>
      <% @pending_timecards.each do |pt| %>
        <% if pt.status != "未承認" %>
          <tr>
            <td><%= pt.created_at.strftime("%m/%d") %>(<%= day[pt.created_at.wday] %>)</td>
            <td><%= Day.find_by(id: Timecard.find_by(id: pt.timecard_id).day_id).date.strftime("%m/%d") %>(<%= day[Day.find_by(id: Timecard.find_by(id: pt.timecard_id).day_id).date.wday] %>)</td>
            <td><%= pt.timecard_type %></td>
            <% if pt.pending_time.present? %>
              <td><%= pt.pending_time.strftime("%R") %></td>
            <% else %>
              <td>--:--</td>
            <% end %>
            <% if pt.comment_request.present? %>
              <td><%= pt.comment_request %></td>
            <% else %>
              <td>-</td>
            <% end %>
            <% if pt.comment_permission.present? %>
              <td><%= pt.comment_permission %></td>
            <% else %>
              <td>-</td>
            <% end %>
            <td><%= pt.status %></td>
          </tr>
        <% end %>
      <% end %>
    </table>
  <% else %>
    <p>打刻申請履歴はありません</p>
  <% end %>

  <br>
  <p>■日程申請</p>
  <% if @pending_schedules.exists?(status: ["承認","棄却"]) %>
    <table>
      <thead>
        <th>申請日</th>
        <th>対象日</th>
        <th>申請された日程</th>
        <th>申請者メッセージ</th>
        <th>承認者メッセージ</th>
        <th>承認状態</th>
      </thead>
      <% @pending_schedules.each do |ps| %>
        <% if ps.status != "未承認" %>
          <tr>
            <td><%= ps.created_at.strftime("%m/%d") %>(<%= day[ps.created_at.wday] %>)</td>
            <td><%= Day.find_by(id: Schedule.find_by(id: ps.schedule_id).day_id).date.strftime("%m/%d") %>(<%= day[Day.find_by(id: Schedule.find_by(id: ps.schedule_id).day_id).date.wday] %>)</td>
            <% if ps.schedule_type.present? %>
              <td><%= ps.schedule_type %></td>
            <% else %>
              <td>なし</td>
            <% end %>
            <% if ps.comment_request.present? %>
              <td><%= ps.comment_request %></td>
            <% else %>
              <td>-</td>
            <% end %>
            <% if ps.comment_permission.present? %>
              <td><%= ps.comment_permission %></td>
            <% else %>
              <td>-</td>
            <% end %>
            <td><%= ps.status %></td>
          </tr>
        <% end %>
      <% end %>
    </table>
  <% else %>
    <p>日程申請履歴はありません</p>
  <% end %>

</div>