<% day = ["日","月","火","水","木","金","土"] %>

<%= render "shared/header_common" %>

<h2>申請一覧（個人）</h2>
<h3>未承認の申請</h3>

<div>■打刻申請</div>
<% if @pending_timecards.exists?(status: "未承認") %>
  <span>申請日</span>
  <span>対象日</span>
  <span>打刻種別</span>
  <span>申請元の打刻</span>
  <span>申請された打刻</span>
  <span>申請者メッセージ</span>
  <span>キャンセル</span>
  <% @pending_timecards.each do |pt| %>
    <div>
      <% if pt.status == "未承認" %>
        <span><%= pt.created_at.strftime("%m/%d") %>(<%= day[pt.created_at.wday] %>)</span>
        <span><%= Day.find_by(id: Timecard.find_by(id: pt.timecard_id).day_id).date.strftime("%m/%d") %>(<%= day[Day.find_by(id: Timecard.find_by(id: pt.timecard_id).day_id).date.wday] %>)</span>
        <span><%= pt.timecard_type %></span>
        <% if pt.timecard_type == "出勤" %>
          <% if Timecard.find_by(id: pt.timecard_id).start %>
            <span><%= Timecard.find_by(id: pt.timecard_id).start.strftime("%R") %></span>
          <% else %>
            <span>打刻なし</span>
          <% end %>
        <% elsif pt.timecard_type == "退勤" %>
          <% if Timecard.find_by(id: pt.timecard_id).finish %>
            <span><%= Timecard.find_by(id: pt.timecard_id).finish.strftime("%R") %></span>
          <% else %>
            <span>打刻なし</span>
          <% end %>
        <% elsif pt.timecard_type == "休憩開始" %>
          <% if Timecard.find_by(id: pt.timecard_id).break_start %>
            <span><%= Timecard.find_by(id: pt.timecard_id).break_start.strftime("%R") %></span>
          <% else %>
            <span>打刻なし</span>
          <% end %>
        <% elsif pt.timecard_type == "休憩終了" %>
          <% if Timecard.find_by(id: pt.timecard_id).break_finish %>
            <span><%= Timecard.find_by(id: pt.timecard_id).break_finish.strftime("%R") %></span>
          <% else %>
            <span>打刻なし</span>
          <% end %>
        <% end %>
        <span><%= pt.pending_time.strftime("%R") %></span>
        <% if pt.comment_request %>
          <span><%= pt.comment_request %></span>
        <% else %>
          <span>-</span>
        <% end %>
        <%= link_to "■", pending_timecard_path(pt.id), method: :delete %>
      <% end %>
    </div>
  <% end %>
<% else %>
  <span>未承認の打刻申請はありません</span>
<% end %>

<br>
<div>■日程申請</div>
<% if @pending_schedules.exists?(status: "未承認") %>
  <span>申請日</span>
  <span>対象日</span>
  <span>申請元の日程</span>
  <span>申請された日程</span>
  <span>備考</span>
  <span>申請者メッセージ</span>
  <span>キャンセル</span>
  <% @pending_schedules.each do |ps| %>
    <div>
      <% if ps.status == "未承認" %>
        <span><%= ps.created_at.strftime("%m/%d") %>(<%= day[ps.created_at.wday] %>)</span>
        <span><%= Day.find_by(id: Schedule.find_by(id: ps.schedule_id).day_id).date.strftime("%m/%d") %>(<%= day[Day.find_by(id: Schedule.find_by(id: ps.schedule_id).day_id).date.wday] %>)</span>
        <span><%= Schedule.find_by(id: ps.schedule_id).schedule_type %></span>
        <span><%= ps.schedule_type %></span>
        <span><%= ps.remark %></span>
        <span><%= ps.comment_request %></span>
        <%= link_to "■", pending_schedule_path(ps.id), method: :delete %>
      <% end %>
    </div>
  <% end %>
<% else %>
  <span>未承認の日程申請はありません</span>
<% end %>

<br>
<h3>承認・棄却済申請</h3>

<div>■打刻申請</div>
<% if @pending_timecards.exists?(status: ["承認","棄却"]) %>
  <span>申請日</span>
  <span>対象日</span>
  <span>打刻種別</span>
  <span>申請された打刻</span>
  <span>申請者メッセージ</span>
  <span>承認者メッセージ</span>
  <span>承認状態</span>
  <% @pending_timecards.each do |pt| %>
    <div>
      <% if pt.status != "未承認" %>
        <span><%= pt.created_at.strftime("%m/%d") %>(<%= day[pt.created_at.wday] %>)</span>
        <span><%= Day.find_by(id: Timecard.find_by(id: pt.timecard_id).day_id).date.strftime("%m/%d") %>(<%= day[Day.find_by(id: Timecard.find_by(id: pt.timecard_id).day_id).date.wday] %>)</span>
        <span><%= pt.timecard_type %></span>
        <% if pt.pending_time %>
          <span><%= pt.pending_time.strftime("%R") %></span>
        <% else %>
          <span>なし</span>
        <% end %>
        <span><%= pt.comment_request %></span>
        <span><%= pt.comment_permission %></span>
        <span><%= pt.status %></span>
      <% end %>
    </div>
  <% end %>
<% else %>
  <span>打刻申請履歴はありません</span>
<% end %>

<br>
<div>■日程申請</div>
<% if @pending_schedules.exists?(status: ["承認","棄却"]) %>
  <span>申請日</span>
  <span>対象日</span>
  <span>申請された日程</span>
  <span>備考</span>
  <span>申請者メッセージ</span>
  <span>承認者メッセージ</span>
  <span>承認状態</span>
  <% @pending_schedules.each do |ps| %>
    <div>
      <% if ps.status != "未承認" %>
        <span><%= ps.created_at.strftime("%m/%d") %>(<%= day[ps.created_at.wday] %>)</span>
        <span><%= Day.find_by(id: Schedule.find_by(id: ps.schedule_id).day_id).date.strftime("%m/%d") %>(<%= day[Day.find_by(id: Schedule.find_by(id: ps.schedule_id).day_id).date.wday] %>)</span>
        <% if ps.schedule_type.present? %>
          <span><%= ps.schedule_type %></span>
        <% else %>
          <span>なし</span>
        <% end %>
        <span><%= ps.remark %></span>
        <span><%= ps.comment_request %></span>
        <span><%= ps.comment_permission %></span>
        <span><%= ps.status %></span>
      <% end %>
    </div>
  <% end %>
<% else %>
  <span>日程申請履歴はありません</span>
<% end %>