<% day = ["日","月","火","水","木","金","土"] %>

<h2>承認待ち申請</h2>

<h3>■打刻申請</h3>
<div>
  <span>申請者</span>
  <span>申請日</span>
  <span>対象日</span>
  <span>打刻種別</span>
  <span>申請元の打刻</span>
  <span>申請された打刻</span>
  <span>申請者メッセージ</span>
  <span>承認者メッセージ</span>
  <span>承認 / 棄却</span>
  <% if @waiting_pending_timecards.count > 0 %>
    <% @waiting_pending_timecards.each do |wpt| %>
      <div>
        <span><%= User.find_by(id: Timecard.find_by(id: wpt.timecard_id).user_id).last_name + " " + User.find_by(id: Timecard.find_by(id: wpt.timecard_id).user_id).first_name %></span>
        <span><%= wpt.created_at.strftime("%m/%d") %>(<%= day[wpt.created_at.wday] %>)</span>
        <span><%= Day.find_by(id: Timecard.find_by(id: wpt.timecard_id).day_id).date.strftime("%m/%d") %>(<%= day[Day.find_by(id: Timecard.find_by(id: wpt.timecard_id).day_id).date.wday] %>)</span>
        <span><%= wpt.timecard_type %></span>
        <% if wpt.timecard_type == "出勤" %>
          <% if Timecard.find_by(id: wpt.timecard_id).start %>
            <span><%= Timecard.find_by(id: wpt.timecard_id).start.strftime("%R") %></span>
          <% else %>
            <span>打刻なし</span>
          <% end %>
        <% elsif wpt.timecard_type == "退勤" %>
          <% if Timecard.find_by(id: wpt.timecard_id).finish %>
            <span><%= Timecard.find_by(id: wpt.timecard_id).finish.strftime("%R") %></span>
          <% else %>
            <span>打刻なし</span>
          <% end %>
        <% elsif wpt.timecard_type == "休憩開始" %>
          <% if Timecard.find_by(id: wpt.timecard_id).break_start %>
            <span><%= Timecard.find_by(id: wpt.timecard_id).break_start.strftime("%R") %></span>
          <% else %>
            <span>打刻なし</span>
          <% end %>
        <% elsif wpt.timecard_type == "休憩終了" %>
          <% if Timecard.find_by(id: wpt.timecard_id).break_finish %>
            <span><%= Timecard.find_by(id: wpt.timecard_id).break_finish.strftime("%R") %></span>
          <% else %>
            <span>打刻なし</span>
          <% end %>
        <% end %>
        <% if wpt.pending_time %>
          <span><%= wpt.pending_time.strftime("%R") %></span>
        <% else %>
          <span>打刻なし</span>
        <% end %>
        <span><%= wpt.comment_request %></span>
        <%= form_with model: wpt, url: permission_pending_timecard_path(wpt.id) do |f| %>
          <%= f.text_field :comment_permission %>
          <%= f.submit "承認" %>
          <%= f.submit "棄却" %>
        <% end %>
      </div>
    <% end %>
  <% else %>
    <div>未承認の打刻申請はありません。</div>
  <% end %>
</div>

<h3>■スケジュール申請</h3>
<div>
  <span>申請者</span>
  <span>申請日</span>
  <span>対象日</span>
  <span>申請元のスケジュール</span>
  <span>申請されたスケジュール</span>
  <span>申請者メッセージ</span>
  <span>承認者メッセージ</span>
  <span>承認 / 棄却</span>
  <% if @waiting_pending_schedules.count > 0 %>
    <% @waiting_pending_schedules.each do |wps| %>
      <div>
        <span><%= User.find_by(id: Schedule.find_by(id: wps.schedule_id).user_id).last_name + " " + User.find_by(id: Schedule.find_by(id: wps.schedule_id).user_id).first_name %></span>
        <span><%= wps.created_at.strftime("%m/%d") %>(<%= day[wps.created_at.wday] %>)</span>
        <span><%= Day.find_by(id: Schedule.find_by(id: wps.schedule_id).day_id).date.strftime("%m/%d") %>(<%= day[Day.find_by(id: Schedule.find_by(id: wps.schedule_id).day_id).date.wday] %>)</span>
        <% if Schedule.find_by(id: wps.schedule_id).schedule_type.present? %>
          <span><%= Schedule.find_by(id: wps.schedule_id).schedule_type %></span>
        <% else %>
          <span>なし</span>
        <% end %>
        <% if wps.schedule_type.present? %>
          <span><%= wps.schedule_type %></span>
        <% else %>
          <span>なし</span>
        <% end %>
        <% if wps.comment_request.present? %>
          <span><%= wps.comment_request %></span>
        <% else %>
          <span>-</span>
        <% end %>
        <%= form_with model: wps, url: permission_pending_schedule_path(wps.id) do |f| %>
          <%= f.text_field :comment_permission %>
          <%= f.submit "承認" %>
          <%= f.submit "棄却" %>
        <% end %>
      </div>
    <% end %>
  <% else %>
    <div>未承認のスケジュール申請はありません。</div>
  <% end %>
</div>

<h2>承認・棄却済申請</h2>

<h3>■打刻申請</h3>
<div>
  <span>申請者</span>
  <span>申請日</span>
  <span>対象日</span>
  <span>打刻種別</span>
  <span>申請された打刻</span>
  <span>申請者メッセージ</span>
  <span>承認者メッセージ</span>
  <span>承認 / 棄却</span>
  <% @pending_timecards.each do |pt| %>
    <% if pt.status == "承認" or pt.status == "棄却" %>
      <div>
        <span><%= User.find_by(id: Timecard.find_by(id: pt.timecard_id).user_id).last_name + " " + User.find_by(id: Timecard.find_by(id: pt.timecard_id).user_id).first_name %></span>
        <span><%= pt.created_at.strftime("%m/%d") %>(<%= day[pt.created_at.wday] %>)</span>
        <span><%= Day.find_by(id: Timecard.find_by(id: pt.timecard_id).day_id).date.strftime("%m/%d") %>(<%= day[Day.find_by(id: Timecard.find_by(id: pt.timecard_id).day_id).date.wday] %>)</span>
        <span><%= pt.timecard_type %></span>
        <% if pt.pending_time %>
          <span><%= pt.pending_time.strftime("%R") %></span>
        <% else %>
          <span>打刻なし</span>
        <% end %>
        <% if pt.comment_request.present? %>
          <span><%= pt.comment_request %></span>
        <% else %>
          <span>-</span>
        <% end %>
        <% if pt.comment_permission.present? %>
          <span><%= pt.comment_permission %></span>
        <% else %>
          <span>-</span>
        <% end %>
        <span><%= pt.status %></span>
      </div>
    <% end %>
  <% end %>
</div>

<h3>■スケジュール申請</h3>
<div>
  <span>申請者</span>
  <span>申請日</span>
  <span>対象日</span>
  <span>申請されたスケジュール</span>
  <span>申請者メッセージ</span>
  <span>承認者メッセージ</span>
  <span>承認 / 棄却</span>
  <% @pending_schedules.each do |ps| %>
    <% if ps.status == "承認" or ps.status == "棄却" %>
      <div>
        <span><%= User.find_by(id: Schedule.find_by(id: ps.schedule_id).user_id).last_name + " " + User.find_by(id: Schedule.find_by(id: ps.schedule_id).user_id).first_name %></span>
        <span><%= ps.created_at.strftime("%m/%d") %>(<%= day[ps.created_at.wday] %>)</span>
        <span><%= Day.find_by(id: Schedule.find_by(id: ps.schedule_id).day_id).date.strftime("%m/%d") %>(<%= day[Day.find_by(id: Schedule.find_by(id: ps.schedule_id).day_id).date.wday] %>)</span>
        <% if ps.schedule_type.present? %>
          <span><%= ps.schedule_type %></span>
        <% else %>
          <span>なし</span>
        <% end %>
        <% if ps.comment_request.present? %>
          <span><%= ps.comment_request %></span>
        <% else %>
          <span>-</span>
        <% end %>
        <% if ps.comment_permission.present? %>
          <span><%= ps.comment_permission %></span>
        <% else %>
          <span>-</span>
        <% end %>
        <span><%= ps.status %></span>
      </div>
    <% end %>
  <% end %>
</div>