<% day = ["日","月","火","水","木","金","土"] %>

<%= render "shared/header_common" %>

<div class="permissions-wrapper">

  <h2><i class="far fa-calendar-alt"></i>申請一覧（メンバー）</h2>
  <h3>承認待ち申請</h3>

  <p>■打刻申請</p>
  <% if current_user.user_type == "上長" %>
    <% waiting_pending_timecards = @waiting_pending_timecards.where(timecard_id: Timecard.where(user_id: User.where(approver_id: current_user.id).ids).ids) %>
  <% elsif current_user.user_type == "管理者" %>
    <% waiting_pending_timecards = @waiting_pending_timecards %>
  <% end %>
  <% if waiting_pending_timecards.present? %>
    <table>
      <thead>
        <th>申請者</th>
        <th>申請日</th>
        <th>対象日</th>
        <th>打刻種別</th>
        <th>申請元の打刻</th>
        <th>申請された打刻</th>
        <th>申請者メッセージ</th>
        <th>承認者メッセージ</th>
        <th colspan="2">承認 / 棄却</th>
      </thead>
      <% waiting_pending_timecards.each do |wpt| %>
        <tr>
          <td><%= User.find_by(id: Timecard.find_by(id: wpt.timecard_id).user_id).last_name + " " + User.find_by(id: Timecard.find_by(id: wpt.timecard_id).user_id).first_name %></td>
          <td><%= wpt.created_at.strftime("%m/%d") %>(<%= day[wpt.created_at.wday] %>)</td>
          <td><%= Day.find_by(id: Timecard.find_by(id: wpt.timecard_id).day_id).date.strftime("%m/%d") %>(<%= day[Day.find_by(id: Timecard.find_by(id: wpt.timecard_id).day_id).date.wday] %>)</td>
          <td><%= wpt.timecard_type %></td>
          <% if wpt.timecard_type == "出勤" %>
            <% if Timecard.find_by(id: wpt.timecard_id).start %>
              <td><%= Timecard.find_by(id: wpt.timecard_id).start.strftime("%R") %></td>
            <% else %>
              <td>打刻なし</td>
            <% end %>
          <% elsif wpt.timecard_type == "退勤" %>
            <% if Timecard.find_by(id: wpt.timecard_id).finish %>
              <td><%= Timecard.find_by(id: wpt.timecard_id).finish.strftime("%R") %></td>
            <% else %>
              <td>打刻なし</td>
            <% end %>
          <% elsif wpt.timecard_type == "休憩開始" %>
            <% if Timecard.find_by(id: wpt.timecard_id).break_start %>
              <td><%= Timecard.find_by(id: wpt.timecard_id).break_start.strftime("%R") %></td>
            <% else %>
              <td>打刻なし</td>
            <% end %>
          <% elsif wpt.timecard_type == "休憩終了" %>
            <% if Timecard.find_by(id: wpt.timecard_id).break_finish %>
              <td><%= Timecard.find_by(id: wpt.timecard_id).break_finish.strftime("%R") %></td>
            <% else %>
              <td>打刻なし</td>
            <% end %>
          <% end %>
          <% if wpt.pending_time %>
            <td><%= wpt.pending_time.strftime("%R") %></td>
          <% else %>
            <td>打刻なし</td>
          <% end %>
          <td><%= wpt.comment_request %></td>
          <%= form_with model: wpt, url: permission_pending_timecard_path(wpt.id) do |f| %>
            <td><%= f.text_field :comment_permission %></td>
            <td><%= f.submit "承認" %> <%= f.submit "棄却" %></td>
          <% end %>
        </tr>
      <% end %>
    </table>
  <% else %>
    <p>未承認の打刻申請はありません</p>
  <% end %>

  <p>■日程申請</p>
  <% if current_user.user_type == "上長" %>
    <% waiting_pending_schedules = @waiting_pending_schedules.where(schedule_id: Schedule.where(user_id: User.where(approver_id: current_user.id).ids).ids) %>
  <% elsif current_user.user_type == "管理者" %>
    <% waiting_pending_schedules = @waiting_pending_schedules %>
  <% end %>
  <% if waiting_pending_schedules.present? %>
    <table>
      <thead>
        <th>申請者</th>
        <th>申請日</th>
        <th>対象日</th>
        <th>申請元の日程</th>
        <th>申請された日程</th>
        <th>申請者メッセージ</th>
        <th>承認者メッセージ</th>
        <th colspan="2">承認 / 棄却</th>
      </thead>
      <% waiting_pending_schedules.each do |wps| %>
        <tr>
          <td><%= User.find_by(id: Schedule.find_by(id: wps.schedule_id).user_id).last_name + " " + User.find_by(id: Schedule.find_by(id: wps.schedule_id).user_id).first_name %></td>
          <td><%= wps.created_at.strftime("%m/%d") %>(<%= day[wps.created_at.wday] %>)</td>
          <td><%= Day.find_by(id: Schedule.find_by(id: wps.schedule_id).day_id).date.strftime("%m/%d") %>(<%= day[Day.find_by(id: Schedule.find_by(id: wps.schedule_id).day_id).date.wday] %>)</td>
          <% if Schedule.find_by(id: wps.schedule_id).schedule_type.present? %>
            <td><%= Schedule.find_by(id: wps.schedule_id).schedule_type %></td>
          <% else %>
            <td>なし</td>
          <% end %>
          <% if wps.schedule_type.present? %>
            <td><%= wps.schedule_type %></td>
          <% else %>
            <td>なし</td>
          <% end %>
          <% if wps.comment_request.present? %>
            <td><%= wps.comment_request %></td>
          <% else %>
            <td>-</td>
          <% end %>
          <%= form_with model: wps, url: permission_pending_schedule_path(wps.id) do |f| %>
            <td><%= f.text_field :comment_permission %></td>
            <td><%= f.submit "承認" %> <%= f.submit "棄却" %></td>
          <% end %>
        </tr>
      <% end %>
    </table>
  <% else %>
    <p>未承認の日程申請はありません</p>
  <% end %>


  <h3>承認・棄却済申請</h3>

  <p>■打刻申請</p>
  <% if current_user.user_type == "上長" %>
    <% pending_timecards = @pending_timecards.where(timecard_id: Timecard.where(user_id: User.where(approver_id: current_user.id).ids).ids).where.not(status: "未承認") %>
  <% elsif current_user.user_type == "管理者" %>
    <% pending_timecards = @pending_timecards.where.not(status: "未承認") %>
  <% end %>
  <% if pending_timecards.present? %>
    <table>
      <thead>
        <th>申請者</th>
        <th>申請日</th>
        <th>対象日</th>
        <th>打刻種別</th>
        <th>申請された打刻</th>
        <th>申請者メッセージ</th>
        <th>承認者メッセージ</th>
        <th colspan="2">承認 / 棄却</th>
      </thead>
      <% pending_timecards.each do |pt| %>
        <tr>
          <td><%= User.find_by(id: Timecard.find_by(id: pt.timecard_id).user_id).last_name + " " + User.find_by(id: Timecard.find_by(id: pt.timecard_id).user_id).first_name %></td>
          <td><%= pt.created_at.strftime("%m/%d") %>(<%= day[pt.created_at.wday] %>)</td>
          <td><%= Day.find_by(id: Timecard.find_by(id: pt.timecard_id).day_id).date.strftime("%m/%d") %>(<%= day[Day.find_by(id: Timecard.find_by(id: pt.timecard_id).day_id).date.wday] %>)</td>
          <td><%= pt.timecard_type %></td>
          <% if pt.pending_time %>
            <td><%= pt.pending_time.strftime("%R") %></td>
          <% else %>
            <td>打刻なし</td>
          <% end %>
          <% if pt.comment_request.present? %>
            <td><%= pt.comment_request %></td>
          <% else %>
            <td>-</td>
          <% end %>
          <% if pt.comment_permission.present? %>
            <td><%= pt.comment_permission %></td>
          <% else %>
            <td>-</td>
          <% end %>
          <td><%= pt.status %></td>
        </tr>
      <% end %>
    </table>
  <% else %>
    <p>打刻申請履歴はありません</p>
  <% end %>

  <p>■日程申請</p>
  <% if current_user.user_type == "上長" %>
    <% pending_schedules = @pending_schedules.where(schedule_id: Schedule.where(user_id: User.where(approver_id: current_user.id).ids).ids).where.not(status: "未承認") %>
  <% elsif current_user.user_type == "管理者" %>
    <% pending_schedules = @pending_schedules.where.not(status: "未承認") %>
  <% end %>
  <% if pending_schedules.present? %>
    <table>
      <thead>
        <th>申請者</th>
        <th>申請日</th>
        <th>対象日</th>
        <th>申請された日程</th>
        <th>申請者メッセージ</th>
        <th>承認者メッセージ</th>
        <th colspan="2">承認 / 棄却</th>
      </thead>
      <% pending_schedules.each do |ps| %>
        <tr>
          <td><%= User.find_by(id: Schedule.find_by(id: ps.schedule_id).user_id).last_name + " " + User.find_by(id: Schedule.find_by(id: ps.schedule_id).user_id).first_name %></td>
          <td><%= ps.created_at.strftime("%m/%d") %>(<%= day[ps.created_at.wday] %>)</td>
          <td><%= Day.find_by(id: Schedule.find_by(id: ps.schedule_id).day_id).date.strftime("%m/%d") %>(<%= day[Day.find_by(id: Schedule.find_by(id: ps.schedule_id).day_id).date.wday] %>)</td>
          <% if ps.schedule_type.present? %>
            <td><%= ps.schedule_type %></td>
          <% else %>
            <td>なし</td>
          <% end %>
          <% if ps.comment_request.present? %>
            <td><%= ps.comment_request %></td>
          <% else %>
            <td>-</td>
          <% end %>
          <% if ps.comment_permission.present? %>
            <td><%= ps.comment_permission %></td>
          <% else %>
            <td>-</td>
          <% end %>
          <td><%= ps.status %></td>
        </tr>
      <% end %>
    </table>
  <% else %>
    <p>日程申請履歴はありません</p>
  <% end %>

</div>