<h2>カレンダー登録</h2>

<%= form_with model: [@year_month, @day], url: year_month_days_path do |form| %>
  <div id="days">
    <% (Date.parse(@year_month.first_date.to_s)..Date.parse(@year_month.last_date.to_s)).each do |date| %>
      <%= form.fields_for :days do |f| %>
        <% days = ["日", "月", "火", "水", "木", "金", "土"] %>
        <div class="nested-fields">
          <%= f.select :date, [[date, date]] %>
          <span>(<%= days[date.wday] %>)</span>
          <%= f.select :day_type, [["平日"],["法定休日"],["法定外休日"]] %>
        </div>
      <% end %>
    <% end %>
  </div>
  <%= form.submit "作成する" %>
<% end %>