<h2>カレンダー登録</h2>

<%= form_with model: @form, url: year_month_days_path, method: :post, local: true do |form| %>
  <%= form.fields_for :days do |f| %>
    <% (Date.parse(@year_month.first_date.to_s)..Date.parse(@year_month.last_date.to_s)).each do |date| %>
      <% days = ["日", "月", "火", "水", "木", "金", "土"] %>
      <div>
        <%= f.check_box :availability %>
        <%= f.select :date, [[date, date]] %>
        <span>(<%= days[date.wday] %>)</span>
        <%= f.select :day_type, [["平日"],["法定休日"],["法定外休日"]] %>
      </div>
    <% end %>
    <%= form.submit "一括登録" %>
  <% end %>
<% end %>