<% if @user.commute %>
  <% commute = Commute.find_by(user_id: @user.id) %>
<% else %>
  <% commute = Commute.new %>
<% end %>

<%= render "shared/flash" %>
<%= render "shared/header_common" %>

<div class="wrapper">
  <h2><i class="fas fa-route"></i> 通勤経路設定</h2>
  <span>※ここで登録した通勤手段が打刻ページで1クリック登録できます</span>

  <h3><%= @user.full_name %></h3>
  
  <%= form_with model: commute, url: "/commute/#{@user.id}/update", method: :get do |form| %>
    <h3><i class="fas fa-car-side"></i> 車通勤</h3>
    <div class="wrapper">
      <div>
        <%= form.label :car_type, "車種：" %>
        <%= form.select :car_type, ["軽自動車", "普通車", "バイク"], include_blank: "選択なし" %>
      </div>
      <div>
        <%= form.label :car_route, "経路：" %>
        <%= form.text_field :car_route, placeholder: "例：自宅〜会社" %>
      </div>
      <div>
        <%= form.label :car_distance, "距離（往復）：" %>
        <%= form.number_field :car_distance %> <span>km</span>
      </div>
    </div>
    <h3><i class="fas fa-subway"></i> 電車・バス（往復）</h3>
    <div class="wrapper">
      <div>
        <%= form.label :train_route, "経路：" %>
        <%= form.text_field :train_route, placeholder: "例：〇〇駅〜〇〇駅" %>
      </div>
      <div>
        <%= form.label :train_fee, "通勤費（往復）：" %>
        <%= form.number_field :train_fee %> <span>円</span>
      </div>
    </div>
    <h3><i class="fas fa-ticket-alt"></i> 電車・バス（定期使用）</h3>
    <div class="wrapper">
      <div>
        <%= form.label :pass_route, "経路：" %>
        <%= form.text_field :pass_route, placeholder: "例：〇〇駅〜〇〇駅" %>
      </div>
      <div>
        <%= form.label :pass_fee, "定期代（１ヶ月）：" %>
        <%= form.number_field :pass_fee %> <span>円</span>
      </div>
    </div>
    <h3><i class="fas fa-walking"></i> 徒歩</h3>
    <div class="wrapper">
      <div>
        <%= form.check_box :walk %>
        <%= form.label :walk, "徒歩通勤ボタンをトップに表示する" %>
      </div>
    </div>
    <div class="wrapper">
      <div>
        <br>
        <%= form.submit "登録" %>
      </div>
    </div>
  <% end %>
  
</div>